In [1]:
2+2

4

In [2]:
print("hello")

hello

In [3]:
print('hello world')

hello world

In [4]:
# creating new variables to understand how variables work
x = 5
print(x)

5

In [6]:
x = 7

In [7]:
print(x)

7

In [8]:
# the print function is an executable function
print(x + 3)

10

In [9]:
# let's create a float and a string
y = 5.4
z = 'hello'

In [10]:
print(z, x+y)

hello 12.4

In [11]:
type(x)

int

In [12]:
print(type(x), ",", type(y), ",", type(z))

<class 'int'> , <class 'float'> , <class 'str'>

In this section of the notebook, I am demonstrating math operations

In [15]:
# math operations
print("addition: ", x+y)
print("subtraction: ", x-y)
print("division: ", x/y)
print("multiplication: ", x*y)
print("exponentation: ", x**y)
print("floor division (drops remainder): ", x//y)
print("remainder: ", x%y)

addition:  12.4
subtraction:  1.5999999999999996
division:  1.2962962962962963
multiplication:  37.800000000000004
exponentation:  36604.073276282106
floor division (drops remainder):  1.0
remainder:  1.5999999999999996

In [13]:
x/y # regular division

1.2962962962962963

In [14]:
x//y # floor division

1.0

Lists, tuples, sets, dictionaries

In [16]:
# be careful not to overwrite a function
print = 6

In [17]:
# because then you cannot use the function
print(x +1)

TypeError: 'int' object is not callable

In [18]:
del print # if you do it by accident, simply delete the variable

In [19]:
# and then you can use the function again
print(x+1)

8

In [20]:
list1 = [1,3,4,6,7]

In [22]:
print(type(list1))

<class 'list'>

In [23]:
# append a new value to a list
list1.append(3)

In [24]:
print(list1)

[1, 3, 4, 6, 7, 3]

In [26]:
# we cannot apply an attribute that is meant for a list, to another object such as an integer
x.append(3)

AttributeError: 'int' object has no attribute 'append'

In [28]:
# how many times does 3 occur in the list?
list1.count(3)

2

In [29]:
list1

[1, 3, 4, 6, 7, 3]

In [30]:
list1.insert(1, 5)
print(list1)

[1, 5, 3, 4, 6, 7, 3]

In [31]:
# slicing a list based on index position
list1[1]

5

In [32]:
# slice all values from position 1 up to, but not including, position 4
list1[1:4]

[5, 3, 4]

In [33]:
# last value of the list is in position -1
list1[-1]

3

In [34]:
list1[-4:-1] # isolate values starting at the 4th last position, up to, but not including, the last value

[4, 6, 7]

In [35]:
list1

[1, 5, 3, 4, 6, 7, 3]

In [36]:
list1[-1:-4] # we cannot isolate right to left, only left to right

[]

In [37]:
list1[0] == list1[-7] # the first position is equal to the 7th last position in this case

True

In [42]:
# a single equal sign is used to define a variable; 2 equal signs check for equivalence
x == 7

True

In [43]:
# != indicates "not equal to"
x != 7

False

In [44]:
# > indicates greater than
x > 6

True

In [45]:
x < 5 # less than

False

In [46]:
print(x >= 7) # greater than or equal to
print(x <= 9) # less than or equal to

True
True

In [47]:
# some more list operations
list1.index(4) # find the position that a value appears in

3

In [48]:
list1

[1, 5, 3, 4, 6, 7, 3]

In [49]:
list1.index(3) # the index function will only identify the 1st instance of a value

2

In [50]:
# use the extend function to append more than 1 value, in the form of an iterable object (i.e., a list or a tuple)
list1.extend([3,7,8,9,0])

In [51]:
list1

[1, 5, 3, 4, 6, 7, 3, 3, 7, 8, 9, 0]

In [52]:
# define the list first
list2 = [8,7,67,8]

In [55]:
# extend with the pre-defined list
list1.extend(list2)

In [56]:
list1

[1, 5, 3, 4, 6, 7, 3, 3, 7, 8, 9, 0, 8, 7, 67, 8, 8, 7, 67, 8]

In [57]:
list1.pop(-1) # remove value based on index position

8

In [58]:
list1

[1, 5, 3, 4, 6, 7, 3, 3, 7, 8, 9, 0, 8, 7, 67, 8, 8, 7, 67]

In [59]:
list1.remove(3) # find first value of 3 and remove it from the list

In [61]:
list3 = list1 # both variable name "list3" and "list1" will refer to the same object

In [63]:
list3.append([89,76]) # if we make a change to list3, it will also change list1

In [64]:
list3

[1, 5, 4, 6, 7, 3, 3, 7, 8, 9, 0, 8, 7, 67, 8, 8, 7, 67, [89, 76]]

In [65]:
list1

[1, 5, 4, 6, 7, 3, 3, 7, 8, 9, 0, 8, 7, 67, 8, 8, 7, 67, [89, 76]]

In [67]:
list3[-1][0] # nested list slicing

89

In [68]:
list3 = list1.copy() # to create a new version of a list, you need to use the copy() attribute

In [69]:
list3.remove([89,76]) # now you can edit list3 without impacting list1

In [70]:
list3

[1, 5, 4, 6, 7, 3, 3, 7, 8, 9, 0, 8, 7, 67, 8, 8, 7, 67]

In [71]:
list1

[1, 5, 4, 6, 7, 3, 3, 7, 8, 9, 0, 8, 7, 67, 8, 8, 7, 67, [89, 76]]

In [72]:
list1.reverse() # reverse order of the list

In [73]:
list1

[[89, 76], 67, 7, 8, 8, 67, 7, 8, 0, 9, 8, 7, 3, 3, 7, 6, 4, 5, 1]

In [75]:
list3.sort() # sort values smallest to largest

In [76]:
list3

[0, 1, 3, 3, 4, 5, 6, 7, 7, 7, 7, 8, 8, 8, 8, 9, 67, 67]

In [79]:
list3.sort(reverse=True) # the sort() function makes a permanent, in-place change to the list
print(list3)

[67, 67, 9, 8, 8, 8, 8, 7, 7, 7, 7, 6, 5, 4, 3, 3, 1, 0]

In [80]:
sorted(list3) # temporary change

[0, 1, 3, 3, 4, 5, 6, 7, 7, 7, 7, 8, 8, 8, 8, 9, 67, 67]

In [81]:
list3

[67, 67, 9, 8, 8, 8, 8, 7, 7, 7, 7, 6, 5, 4, 3, 3, 1, 0]

In [85]:
list4 = []
for i in list3:
    if i == 7:
        continue
    list4.append(i)

In [86]:
list4

[67, 67, 9, 8, 8, 8, 8, 6, 5, 4, 3, 3, 1, 0]

In [88]:
# tuple
tuple1 = (1,7,8,9,0,87,6,8)

In [89]:
tuple1.count(8)

2

In [91]:
tuple1.index(8)

2

In [92]:
tuple1.append(5)

AttributeError: 'tuple' object has no attribute 'append'

In [93]:
# in a list we can change a value, in a tuple we cannot
list1[0] = 7

In [95]:
tuple1[0] = 7 # if we try to change a value in a tuple, we will get a type error

TypeError: 'tuple' object does not support item assignment