In [45]:
list1 = [1,2,3,56]
tuple1 = (5,6,8,9,45)
set1 = {4,5,6,8,2}

In [3]:
list1.append(3)

In [4]:
list1

[1, 2, 3, 56, 3]

In [5]:
tuple1.count(6)

1

In [17]:
%time
tuple1.index(5)

CPU times: user 2 µs, sys: 0 ns, total: 2 µs
Wall time: 5.72 µs

0

In [19]:
%time
list1.index(1)

CPU times: user 3 µs, sys: 1e+03 ns, total: 4 µs
Wall time: 5.72 µs

0

In [20]:
set1

{2, 4, 5, 6, 8}

In [21]:
list2 = [2,5,5,6,6,8,7,89]

In [23]:
set2 = set(list2)

In [24]:
list2 = list(set(list2))

In [25]:
list2

[2, 5, 6, 7, 8, 89]

In [26]:
set1.add(51)

In [28]:
set1.add(51)

In [29]:
set1

{2, 4, 5, 6, 8, 51}

In [32]:
list1.append(51)

In [33]:
list1

[1, 2, 3, 56, 3, 51, 51, 51]

In [35]:
set1.remove(51)

In [36]:
set1

{2, 4, 5, 6, 8}

In [37]:
set2

{2, 5, 6, 7, 8, 89}

In [38]:
set1.difference(set2)

{4}

In [39]:
set2.difference(set1)

{7, 89}

In [40]:
set1.intersection(set2)

{2, 5, 6, 8}

In [41]:
set2.intersection(set1)

{2, 5, 6, 8}

In [42]:
set1.difference_update(set2)

In [43]:
set1

{4}

In [44]:
set2

{2, 5, 6, 7, 8, 89}

In [47]:
set3 = set2.difference(set1)

In [48]:
set2.difference_update(set1)

In [49]:
set2

{7, 89}

In [50]:
set1

{2, 4, 5, 6, 8}

In [51]:
set3 = {4,5}

In [52]:
set3.issubset(set1)

True

In [53]:
set1.issuperset(set3)

True

In [54]:
set3.issuperset(set1)

False

In [59]:
dictionary1 = {'Delina':
               {'cust_type':'hvl',
                'latest_order':['book','shoes','rake']}, 
                'Mike':
                 {'cust_type':'hvl',
                 'latest_order':['shoes','book']}}

In [60]:
dictionary2 = {'Delina':'book','mike':'shoes'}

In [62]:
dictionary2['Delina']

'book'

In [64]:
dictionary2.keys()

dict_keys(['Delina', 'mike'])

In [65]:
dictionary2.values()

dict_values(['book', 'shoes'])

In [70]:
dictionary2.update({'Sam':'book'})

In [71]:
dictionary2

{'Delina': 'book', 'mike': 'shoes', 'Sam': 'book'}

In [72]:
dictionary2['Delina']

'book'

In [73]:
dictionary2['Sarah'] = 'shoes'

In [74]:
dictionary2

{'Delina': 'book', 'mike': 'shoes', 'Sam': 'book', 'Sarah': 'shoes'}

In [75]:
dictionary2.get('Delina')

'book'

In [76]:
dictionary2.pop('Sarah')

'shoes'

In [77]:
dictionary2

{'Delina': 'book', 'mike': 'shoes', 'Sam': 'book'}

In [79]:
# for loops
list1[0] = list1[0]*2
list1[1] = list1[1]*2
list1[2] = list1[2]*2
list1[3] = list1[3]*2

In [80]:
list1

[2, 4, 6, 112]

In [81]:
for i in list1:
    print(i*2)

4
8
12
224

In [82]:
# write a loop to return the value without the remainder, when you divide each value in the list by 3
for i in list1:
    print(i//3)

0
1
2
37

In [83]:
list1

[2, 4, 6, 112]

In [84]:
list_1n = []

In [85]:
list_1n

[]

In [86]:
for i in list1:
    list_1n.append(i*2)

In [93]:
list_1n

[4, 8, 12, 224]

In [88]:
list_1n.index(4)

0

In [94]:
list_1n[0]

4

In [90]:
list_1n[list_1n.index(4)]

4

In [91]:
for i in list1:
   list1[list1.index(i)] = i*2

In [92]:
list1

[8, 4, 12, 224]

In [97]:
for i in list1:
    a = i*2
    print(a)
    print("currently A is equal to: ", a)

16
currently A is equal to:  16
8
currently A is equal to:  8
24
currently A is equal to:  24
448
currently A is equal to:  448

In [96]:
a

448

In [100]:
for i in tuple1:
    print(i*2)

10
12
16
18
90

In [101]:
for i in set1:
    print(i*2)

4
8
10
12
16

In [99]:
dictionary2

{'Delina': 'book', 'mike': 'shoes', 'Sam': 'book'}

In [102]:
for i in dictionary2:
    print(i)

Delina
mike
Sam

In [103]:
for i in dictionary2.keys():
    print(i)

Delina
mike
Sam

In [104]:
for i in dictionary2.values():
    print(i)

book
shoes
book

In [106]:
for i in dictionary2.items():
    print(i)

('Delina', 'book')
('mike', 'shoes')
('Sam', 'book')

In [117]:
for a,b in dictionary2.items():
    print(a)
    print(b)

Delina
book
mike
shoes
Sam
book

In [123]:
# create 2 lists: one for customers, one for items > store the elements from dictionary 2 in the respective list
# customers = ['Delina','mike','Sam]
# items = ['book','shoes','book']

customers = []
items = []
for a,b in dictionary2.items():
    customers.append(a)
    items.append(b)
# how many books do we need to ship?
print('We need to ship ',items.count('book'), 'books')

We need to ship  2 books

In [124]:
# create first loop to isolate all customers, and all items
customers = []
items = []
for a,b in dictionary2.items():
    customers.append(a)
    items.append(b)

# create second loop to count how many of each item to ship
unique_items = set(items)
for i in unique_items:
    print(i + ": ", items.count(i))

shoes:  1
book:  2

In [125]:
dictionary1 # in this dictionary, we have nested dictionaries

{'Delina': {'cust_type': 'hvl', 'latest_order': ['book', 'shoes', 'rake']},
 'Mike': {'cust_type': 'hvl', 'latest_order': ['shoes', 'book']}}

In [126]:
for a,b in dictionary1.items():
    print(a)
    print(b)

Delina
{'cust_type': 'hvl', 'latest_order': ['book', 'shoes', 'rake']}
Mike
{'cust_type': 'hvl', 'latest_order': ['shoes', 'book']}

In [138]:
# create a new customer and items_to_ship list, based on dictionary1

customers_2 = []
items_to_ship = []

for a,b in dictionary1.items():
    customers_2.append(a)
    for c,d in b.items():
        if type(d) == list:
            for i in d:
                items_to_ship.append(i)
for i in set(items_to_ship):
    print(i + ": ", items_to_ship.count(i))
print(customers_2)

shoes:  2
book:  2
rake:  1
['Delina', 'Mike']

In [136]:
items_to_ship

['book', 'shoes', 'rake', 'shoes', 'book']

In [119]:
customers

['Delina', 'mike', 'Sam']

In [120]:
items

['book', 'shoes', 'book']

In [141]:
# conditional programming
x = 5
if x > 3:
    print("x is greater than 3")
elif x == 5:
    print("x is equal to 5")
elif x <4:
    print('x is less than 4')
else:
    print('x is not greater than 3')

x is greater than 3

In [142]:
x = 5
if x > 3:
    print("x is greater than 3")
if x == 5:
    print("x is equal to 5")
if x <4:
    print('x is less than 4')
else:
    print('x is not greater than 3')

x is greater than 3
x is equal to 5
x is not greater than 3

In [147]:
list1

for i in list1:
    if i % 3 == 0:
        print(i, " is divisible by 3")
    elif i % 2 == 0:
        print(i, ' is divisible by 2')
    else:
        print(i, " is not divisible by 3")

8  is divisible by 2
4  is divisible by 2
12  is divisible by 3
224  is divisible by 2

In [148]:
list3 = [2,4,6,9,15,47,51]

for i in list3:
    if i % 3 == 0 and i % 2 == 0: # start with most complex condition, then interchangeable conditions, then everything else
        print(i, " is divisible by 2 and 3")
    elif i % 2 == 0:
        print(i, ' is divisible by 2')
    elif i % 3 == 0:
        print(i, ' is divisible by 3')
    else:
        print(i, " is not divisible by 2 or by 3")

2  is divisible by 2
4  is divisible by 2
6  is divisible by 2 and 3
9  is divisible by 3
15  is divisible by 3
47  is not divisible by 2 or by 3
51  is divisible by 3

In [154]:
# calculate the average of a list
list_sum = sum(list1) # these are global variables
list_length = len(list1)
mean = list_sum / list_length
print(mean)

62.0

In [156]:
list_sum

248

In [155]:
def mean(x):
    sum_of_x = sum(x) # these are local variables
    length_of_x = len(x)
    return sum_of_x/length_of_x

In [158]:
mean(list1)

62.0

In [159]:
mean(list2)

19.5

In [160]:
mean(tuple1)

14.6

In [161]:
mean(set1)

5.0

Here we have 3 types of dictionary test cases.

In [162]:
dictionary1

{'Delina': {'cust_type': 'hvl', 'latest_order': ['book', 'shoes', 'rake']},
 'Mike': {'cust_type': 'hvl', 'latest_order': ['shoes', 'book']}}

In [163]:
dictionary2

{'Delina': 'book', 'mike': 'shoes', 'Sam': 'book'}

In [186]:
dictionary3 = {'Sarah':['book','shoes'],'John':['book','shoes','rake','coffee maker']}

In the following example, I am demonstrating how to create a custom function which considers different dictionary structures and unnests complex dictionaries to produce single counts.

In [187]:
def item_extraction(x):    
    customers_2 = []
    items_to_ship = []

    for a,b in x.items():
        if type(b) == str:
            customers_2.append(a)
            items_to_ship.append(b)
        elif type(b) == list:
            customers_2.append(a)
            for i in b:
                items_to_ship.append(i)
        elif type(b) == dict:
            customers_2.append(a)
            for c,d in b.items():
                if type(d) == list:
                    for i in d:
                        items_to_ship.append(i)
    
    for i in set(items_to_ship):
        print(i + ": ", items_to_ship.count(i))

Now we can apply this stored procedure / function to multiple types of dictionaries, and extract relevant information.

In [188]:
item_extraction(dictionary3)

shoes:  2
book:  2
rake:  1
coffee maker:  1

In [189]:
item_extraction(dictionary1)

shoes:  2
book:  2
rake:  1

In [190]:
item_extraction(dictionary2)

shoes:  1
book:  2