In [1]:
# refresh custom functions

def interactions(a, b):
    add = a + b
    sub = a - b
    prod = a * b
    div = a / b

    return add, abs(sub), prod, div

In [2]:
interactions(7,3)

(10, 4, 21, 2.3333333333333335)

In [3]:
interactions(8)

TypeError: interactions() missing 1 required positional argument: 'b'

In [7]:
# create the function with a default value
def interactions(a = 0, b = 1):
    add = a + b
    sub = a - b
    prod = a * b
    div = a / b

    return add, abs(sub), prod, div

In [8]:
interactions(8)

(9, 7, 8, 8.0)

In [9]:
interactions()

(1, 1, 0, 0.0)

In [18]:
def coordinates(point1 = (0,0), point2 = (0,0), point3 = (0,0), point4 = (0,0), newpoint = (0,0)):
    if type(newpoint) != tuple:
        return 'error'
    if newpoint[0] in range(point1[0], point2[0]):
        return True
    else:
        return False

In [19]:
coordinates([1,1],(4,4),(5,6),(7,8),[2,3])

'error'

In [21]:
# introduce creating classes
type([1,2,3,4])

list

In [22]:
list1 = [9,8,9,8,97]

In [23]:
tuple1 = (8,7,7,8)
tuple1.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [26]:
# declaring a new class called Students
class Students:
    # define the class attributes
    def __init__(self, name, email, age, year_started, class_list):
        self.name = str(name)
        self.email = str(email)
        self.age = int(age)
        self.year_started = int(year_started)
        self.class_list = list(class_list)

    # instance  methods
    def years_at_school(self):
        print(f"{self.name} has been at the school for {2023 - self.year_started} years")
    
    def first_period(self):
        print(self.class_list[0])

In [27]:
student1 = Students('Amy','amy@hotmail.com',30,2019,['math','english','spanish'])

In [28]:
student1.years_at_school()

Amy has been at the school for 4 years

In [29]:
student1.first_period()

math

In [30]:
student1.name

'Amy'

In [32]:
student1.middle_name # we did not collect this variable

AttributeError: 'Students' object has no attribute 'middle_name'

In [77]:
class Client:
    count = 0 # class attribute

    # create instances of a class
    def __init__(self, name, email, phone):
        Client.count +=1
        self.name = name
        self.email = email
        self.phone = phone
    
    # instance method
    def print_contact_info(self):
        print(self.email, self.name, self.phone)

    @classmethod
    def num_clients(cls):
        return cls.count
    
    @classmethod
    def new_client(cls):
        name = input('name:')
        email = input('email: ')
        phone = input('email: ')
        return cls( name, email,phone)

In [78]:
client1 = Client.new_client() # define new client using class method

In [79]:
client2 = Client.new_client() # define new client using class method

In [80]:
# use class method to find the total number of clients / instances in the class
Client.num_clients()

2

In [81]:
# use instance method to return a specific client attribute
client1.name

'Sarah'

In [66]:
# open files with Python's built-in open() function > must be on your local drive

file = open('/Users/local/Downloads/datafile.csv','r+')

In [67]:
print(file.read()) # read data

Name,Phone Number,Email,Product,Representative
Sarah,123-4567,sarah@email.com,Software,
Matt,345-5467,matt@email.com,Hardware,
Joe,345-6333,joe@email.com,Software,
Michaela,876-8765,michaela@email.com,Hardware,

In [68]:
file.write("\nJohn,856-7894,john@email.com,Software") # add new entry

38

In [69]:
file.close() # close file

In [70]:
# use the csv library to translate string into dictionary

import csv
data = [] # empty list to hold the dictionary for each user

with open('/Users/local/Downloads/datafile.csv','r+') as csvfile:
    read = csv.DictReader(csvfile)
    for row in read:
        data.append(row)

In [71]:
data

[{'Name': 'Sarah',
  'Phone Number': '123-4567',
  'Email': 'sarah@email.com',
  'Product': 'Software',
  'Representative': ''},
 {'Name': 'Matt',
  'Phone Number': '345-5467',
  'Email': 'matt@email.com',
  'Product': 'Hardware',
  'Representative': ''},
 {'Name': 'Joe',
  'Phone Number': '345-6333',
  'Email': 'joe@email.com',
  'Product': 'Software',
  'Representative': ''},
 {'Name': 'Michaela',
  'Phone Number': '876-8765',
  'Email': 'michaela@email.com',
  'Product': 'Hardware',
  'Representative': ''},
 {'Name': 'John',
  'Phone Number': '856-7894',
  'Email': 'john@email.com',
  'Product': 'Software',
  'Representative': None}]

In [72]:
# custom function to store names, phone numbers, emails and products in separate lists

customer_names = []
phone_numbers = []
emails = []
products = []

def data_organizer(x):
    global customer_names
    global phone_numbers
    global emails
    global products

    customer_names.append(x['Name'])
    phone_numbers.append(x['Phone Number'])
    emails.append(x['Email'])
    products.append(x['Product'])

In [73]:
for i in data:
    data_organizer(i)

In [74]:
customer_names

['Sarah', 'Matt', 'Joe', 'Michaela', 'John']

In [ ]:
# or we can use Pandas... more on this, next class
# use pip to install the pandas library to your environment
pip install pandas

In [61]:
import pandas as pd

In [62]:
# with pandas we can read a data file right from GitHub
df = pd.read_csv('https://raw.githubusercontent.com/delinai/uot_automation/main/datafile.csv')

In [63]:
df

       Name Phone Number               Email   Product  Representative
0     Sarah     123-4567     sarah@email.com  Software             NaN
1      Matt     345-5467      matt@email.com  Hardware             NaN
2       Joe     345-6333       joe@email.com  Software             NaN
3  Michaela     876-8765  michaela@email.com  Hardware             NaN