In [ ]:
# AGENDA FOR TODAY
# sequential objects
# slicing of sequential objects and navigating by position
# specific function related to classes these objects come from
# iteration, conditionals, and custom functions

In [1]:
# String
variable = 'x'
variable = 'multiple letters'

In [2]:
# Using slicing to manipulate strings
# Python begins counting at position 0
# For slicing we always use square brackets []
variable[0]

'm'

In [3]:
# to return the first 3 values of the string, we can start at position 0 and slice UP TO, but NOT INCLUDING position 3
# the position on the right hand of the colon symbol (:) is exclusive
variable[0:3]

'mul'

In [4]:
# negative positions allows us to slice from the ending point
variable[-1]

's'

In [5]:
# when slicing from the end, we start with the left-most position; since the range is UP TO, but NOT INCLUDING, the last value is excluded
variable[-3:-1]

'er'

In [6]:
# you can also slice by giving a starting point with a colon (:), which will return everything until the end
# in this example we are returning everything starting at position -3 until the end
variable[-3:]

'ers'

In [7]:
variable[5:]

'ple letters'

In [8]:
# We can also do the opposite; if you don't specify a starting point, the slice will start at the beginning
variable[:6]

'multip'

In [9]:
area = "ON"
product_name = "prod_345"

In [10]:
# Let's say we want to concatenate two strings
product_code = area + product_name

In [11]:
product_code

'ONprod_345'

In [13]:
# Second example of adding underscore between area + product_name
product_code = area + "_" + product_name
product_code

'ON_prod_345'

In [14]:
# Replacing specific sections of the string
product = "ON Prod 75"

In [15]:
updated_product = product.replace("ON","BC")
updated_product

'BC Prod 75'

In [16]:
list_of_provinces = "AB, ON, MB, SK, BC, PEI, NB, NS, QB"

In [18]:
# clean up the province list
no_comma_list = list_of_provinces.replace(",","")

In [21]:
# Now we can use the split function to split the string into a LIST of strings representing each province
list_of_provinces2 = no_comma_list.split(" ")
list_of_provinces2

['AB', 'ON', 'MB', 'SK', 'BC', 'PEI', 'NB', 'NS', 'QB']

In [24]:
# or split directly by splitting on the ", "
list_of_provinces.split(", ")

['AB', 'ON', 'MB', 'SK', 'BC', 'PEI', 'NB', 'NS', 'QB']

In [26]:
# in a more complex scenario, you may need to use replace to clean up the string before you can split
complex_string = "AB, &london, ON, %special, BC"
complex_string = complex_string.replace("&london, ","")
complex_string = complex_string.replace("%special, ","")
complex_string.split(",")

['AB', ' ON', ' BC']

In [29]:
# remove leading and lagging whitespace
product_code = "   ON product 123 new    "

In [30]:
# the strip function will remove that
product_code.strip()

'ON product 123 new'

In [31]:
# combining strip() and replace() will remove all whitespaces
product_code=product_code.strip()
product_code=product_code.replace(" ", "")
product_code

'ONproduct123new'

In [34]:
#remove white space (leading and lagging)
product_code = "     ON product 123 new    "
#strip will remove leading and lagging white space
product_code = product_code.strip()
product_code

'ON product 123 new'

In [35]:
# some changes are INPLACE changes (meaning they will permanently alter your object)
# others are NOT inplace changes, meaning the alteration is temporary and if you want to save it, you need to overwrite your object

product_code_orig = "ON_123_45_product_17"

In [38]:
# In this example we are combining the replace function with a slicing operation
product_code_orig.replace("_"," ")[0:2]

'ON'

In [42]:
# string objects also have a find() function to identify the position of a particular value
# let's say the province is in the middle of the string, and maybe strings have varying lengths
# I need to find the location of the province code, so I can slice just that portion of the string
product_code_orig = "prod_123_45_ON_17" 
product_code_second = "prod_3456_BC_9"
product_code_orig.find("ON") # the find() function helps identify the starting position of a substring

12

In [48]:
# I cannot hardcode the starting position of the province, if my product codes have varying lengths
print(product_code_orig[12:14])
print(product_code_second[10:12])

ON
BC

In [46]:
product_code_orig.find("ON")

12

In [45]:
# instead, I can embed the find() function in the slicing operation
# we need to make BOTH sides of slice dynamic
print(product_code_orig[product_code_orig.find("ON"):product_code_orig.find("ON")+2])
print(product_code_second[product_code_second.find("BC"):product_code_second.find("BC")+2])

ON
BC

In [49]:
# check the string type
text = "12546"
text.isdigit()

True

In [50]:
text2 = "edr234"
text2.isalnum()

True

In [51]:
# Python is case sensitive, convert to lower or upper case using the lower() and upper() functions
text = "hello how are you"
text.upper()

'HELLO HOW ARE YOU'

In [52]:
text.lower()

'hello how are you'

In [53]:
# title() will capitalize the first letter of each word
text.title()

'Hello How Are You'

In [56]:
# since python is case sensitive, having the same word in different cases can cause challenges in cleaning
# best practice is to make everything lower, upper, or title case so all programs will work
string1 = "ontario"
string2 = "Ontario"

In [57]:
# since the case is different in each one, these two words are not considered the same
string1 == string2

False

In [59]:
# if we make them both lowercase, they will be the same
string1.lower() == string2.lower()

True

## Lists and list operations

In [62]:
# create a list - lists use square brackets to be defined []
# create a list of customer account balances
account_balances = [250, 150, 25, 380, 456, 987, 254, 64] # a list of integers
customer_names = ["Joe", "Marie", "Bob", "Sam", "Sarah", "Finn", "Mike", "Ryan"] # a list of strings

In [63]:
# another way to confirm the type of object you are working with is to use the type() function
type(account_balances)

list

In [64]:
# each object type will give us access to different functions (also called "methods")
# as you can see, we cannot use a string method on a list object 
customer_names.lower()

AttributeError: 'list' object has no attribute 'lower'

In [68]:
# some operations are object agnostic, and apply to a category of object types
# for example, slicing can be applied to all sequential objects
# for example, we can slice a list in the exact same way as a string
customer_names[0]

'Joe'

In [66]:
# when isolating a single item from a list, the output will be that item type. in the example below, this is a string
# this means, we can now use string methods on this item

customer_names[0].lower() # here i'm applying the string method to a single string

'joe'

In [69]:
# if i slice more than one object, then the output will be a smaller list
customer_names[0:4]

['Joe', 'Marie', 'Bob', 'Sam']

In [70]:
# let's start with the append function
# unlike string operations, all of the list operations are INPLACE > meaning, they make a permanent change to your list
# the append() function adds INDIVIDUAL items to the end of your list
customer_names.append("Patrick")

In [71]:
customer_names

['Joe', 'Marie', 'Bob', 'Sam', 'Sarah', 'Finn', 'Mike', 'Ryan', 'Patrick']

In [72]:
# the extend() function allows you to add MULTIPLE items to your list
customer_names.extend(['Ann', 'Sharon', "David"]) # when adding multiple items, we need to put the items themselves in a LIST

In [73]:
customer_names

['Joe',
 'Marie',
 'Bob',
 'Sam',
 'Sarah',
 'Finn',
 'Mike',
 'Ryan',
 'Patrick',
 'Ann',
 'Sharon',
 'David']

In [74]:
# insert() allows us to add a value in a SPECIFIC POSITION
# let's insert a value in position 2 which is the 3rd position
customer_names.insert(2, "inserted")

In [76]:
customer_names

['Joe',
 'Marie',
 'inserted',
 'Bob',
 'Sam',
 'Sarah',
 'Finn',
 'Mike',
 'Ryan',
 'Patrick',
 'Ann',
 'Sharon',
 'David']

In [77]:
# remove based on position first
customer_names.pop(-1)

'David'

In [78]:
customer_names

['Joe',
 'Marie',
 'inserted',
 'Bob',
 'Sam',
 'Sarah',
 'Finn',
 'Mike',
 'Ryan',
 'Patrick',
 'Ann',
 'Sharon']

In [79]:
# remove based on value
customer_names.remove('inserted')

In [80]:
customer_names

['Joe',
 'Marie',
 'Bob',
 'Sam',
 'Sarah',
 'Finn',
 'Mike',
 'Ryan',
 'Patrick',
 'Ann',
 'Sharon']

In [82]:
account_balances.remove(250)

In [83]:
account_balances

[150, 25, 380, 456, 987, 254, 64]

In [84]:
customer_names.insert(-1,'g')

In [85]:
customer_names

['Joe',
 'Marie',
 'Bob',
 'Sam',
 'Sarah',
 'Finn',
 'Mike',
 'Ryan',
 'Patrick',
 'Ann',
 'g',
 'Sharon']

In [87]:
# finding the POSITION of a particular value
customer_names.index('g')

10

In [90]:
customer_names.index('Bob')

3

In [88]:
# for example, let's say we want to insert a new value in the position where Bob currently is, but we don't know that position
# we can use the index() function
customer_names.insert(customer_names.index('Bob'),"new_name")

In [89]:
customer_names

['Joe',
 'Marie',
 'new_name',
 'Bob',
 'Sam',
 'Sarah',
 'Finn',
 'Mike',
 'Ryan',
 'Patrick',
 'Ann',
 'g',
 'Sharon']

In [92]:
#let's append a new customer with the same name as a prior one
customer_names.append('Sarah')

In [93]:
customer_names.count('Sarah')

2

In [94]:
# let's use the index() function to find Sarah
customer_names.index('Sarah')

5

In [96]:
customer_names

['Joe',
 'Marie',
 'new_name',
 'Bob',
 'Sam',
 'Sarah',
 'Finn',
 'Mike',
 'Ryan',
 'Patrick',
 'Ann',
 'g',
 'Sharon',
 'Sarah']

In [97]:
# sort() will return the list in alphabetical order
customer_names.sort()

In [98]:
customer_names

['Ann',
 'Bob',
 'Finn',
 'Joe',
 'Marie',
 'Mike',
 'Patrick',
 'Ryan',
 'Sam',
 'Sarah',
 'Sarah',
 'Sharon',
 'g',
 'new_name']

In [99]:
# reverse() will reverse the list
# the reverse() simply returns the REVERSE of the list, regardless of order
customer_names.reverse()

In [100]:
customer_names

['new_name',
 'g',
 'Sharon',
 'Sarah',
 'Sarah',
 'Sam',
 'Ryan',
 'Patrick',
 'Mike',
 'Marie',
 'Joe',
 'Finn',
 'Bob',
 'Ann']

In [101]:
# if you want to organize the list from largest to smallest (or reverse alphabetical), use reverse=True as a param in the sort() function
account_balances.sort(reverse=True)
account_balances

[987, 456, 380, 254, 150, 64, 25]

In [102]:
# let's say we want to make a copy of the list to edit a new version
# if we simply set a new variable equal to an existing variable, essentially we are creating a new reference to the SAME object
# any edits applied to the new reference, will ALSO be applied to the original, as demonstrated below
account_balances2 = account_balances

In [103]:
account_balances

[987, 456, 380, 254, 150, 64, 25]

In [104]:
account_balances2.append(17)

In [105]:
print(account_balances)
print(account_balances2)

[987, 456, 380, 254, 150, 64, 25, 17]
[987, 456, 380, 254, 150, 64, 25, 17]

In [106]:
# to combat this, we use the copy() function to create a shallow copy of the list so we can make edits
account_balances2 = account_balances.copy()

In [107]:
account_balances2.append(10)

In [108]:
print(account_balances)
print(account_balances2)

[987, 456, 380, 254, 150, 64, 25, 17]
[987, 456, 380, 254, 150, 64, 25, 17, 10]

In [109]:
# the copy() function is only a SHALLOW copy, because it creates a copy of the MAIN list that we're copying
# in the case where we have sub-lists (or nested lists), these will continue to point to the original versions
original_list = [[1,2,3],[4,5,6]]

In [110]:
copy = original_list.copy()

In [112]:
# therefore, when we edit a nested list, the change is reflected in both the original and shallow copy
original_list[0][0] = 'new_value'

In [113]:
original_list

[['new_value', 2, 3], [4, 5, 6]]

In [114]:
copy

[['new_value', 2, 3], [4, 5, 6]]

In [116]:
# since lists don't offer a replace() function, like strings, we can simply use item assignment to replace a value
# isolate the value you want to relplace, and set equal to a new value
customer_names[3] = 'Mariah'

In [117]:
customer_names

['new_name',
 'g',
 'Sharon',
 'Mariah',
 'Sarah',
 'Sam',
 'Ryan',
 'Patrick',
 'Mike',
 'Marie',
 'Joe',
 'Finn',
 'Bob',
 'Ann']

In [118]:
# now let's look at tuples. Python defines a tuple with ROUND brackets ()
tuple1 = (15, 25, 85, 68)
tuple2 = ('name', 'address', 'age')

In [119]:
type(tuple1)

tuple

In [120]:
type(customer_names)

list

In [121]:
# we can still slice a tuple, the same way as a list and a string
tuple1[0]

15

In [122]:
# we can access the index() function to show us the position of a value
tuple1.index(15)

0

In [123]:
# we can also access the count() function in tuples
tuple1.count(15)

1

In [124]:
# outside of count() and index(), tuples don't give us any more functions
# we also CANNOT replace values in tuples. They do not support item assignment
tuple1[0] = 25

TypeError: 'tuple' object does not support item assignment

In [125]:
# we also cannot COPY tuples
tuple1.copy()

AttributeError: 'tuple' object has no attribute 'copy'

In [126]:
# tuples are IMMUTABLE objects, while lists and strings are MUTABLE objects
# tuples, because they are immutable, are more efficient objects. Meaning, they take less memory to process and store

tuple1 = (45,85,98,75,89,57,24,65)

In [128]:
# tuples are IMMUTABLE objects, while lists and strings are MUTABLE objects
# tuples, because they are immutable, are more efficient objects. Meaning, they take less memory to process and store

list1 = [45,85,98,75,89,57,24,65]

In [134]:
# the last sequential object we will cover today is called a SET. A set uses curly brackets {}
all_customers = {"Sarah","Marie","Angela",'John',"Bob",'Sam'}
active_customers = {"Sarah",'Marie','John'}
churned_customers = {"Frank", "James", "Bob", "Sam"}

In [130]:
#sets can ONLY hold unique values. Let's say you have a list of duplicates
list1 = [15, 15, 25, 25, 78, 89]

In [131]:
# if you convert the list to a SET, only the unique values will remain
set(list1)

{15, 25, 78, 89}

In [132]:
# with sets we can identify similarities and differences between collections
# let's find INACTIVE customers in our customer base
# the difference() function, when applied to the all_customers set, will return ALL customers who exist in all_customers but NOT in active_customers
all_customers.difference(active_customers)

{'Angela', 'Bob', 'Sam'}

In [133]:
# let's find customers in the all_customers SET who ALSO appear in the active_customers
all_customers.intersection(active_customers)

{'John', 'Marie', 'Sarah'}

In [135]:
all_customers.intersection(churned_customers)

{'Bob', 'Sam'}

In [136]:
# sets are MUTABLE objects, so you can make similar changes as you can with lists; however remember that sets don't support duplicate values
# to add a new value to a SET, we use add() -- the equivalent for a list object is append()
all_customers.add("Jack")

In [137]:
# the SET is also automatically sorted smallest>largest or alphabetical, so newly added items are positioned accordingly
all_customers

{'Angela', 'Bob', 'Jack', 'John', 'Marie', 'Sam', 'Sarah'}

In [138]:
# union() will combine two sets while removing duplicates
all_customers.union(active_customers)

{'Angela', 'Bob', 'Jack', 'John', 'Marie', 'Sam', 'Sarah'}

In [139]:
churned_customers.union(all_customers)

{'Angela', 'Bob', 'Frank', 'Jack', 'James', 'John', 'Marie', 'Sam', 'Sarah'}

In [140]:
# check if a set is part of a bigger set (or included in a bigger set)
active_customers.issubset(all_customers)

True

In [141]:
# use issuperset() to check if a set containts a smaller set
all_customers.issuperset(active_customers)

True

In [142]:
all_customers.issuperset(churned_customers)

False