In [1]:
# Topics for today
# dictionaries and dictionary manipulation
# conditional programming
# loops
# defining custom functions
# manipulation of data files with Python's open / read / write mechanisms > without any external libraries

### Dictionaries

In [2]:
# key - value pairs
dict1 = {"ON":"Toronto", "MB":"Winnipeg", "SK":"Regina", "BC":"Victoria", "QB":"Quebec City"}

In [3]:
purchases = {"Adam":["shoes", "book", "shirt"], "Mary":["book", 'shampoo'], "Joe":["book", "shirt", 'coat', 'shoes','kindle','etc']}

In [4]:
purchases_nested = {"Customer_Orders":
                    {"Adam":["shoes", "book", "shirt"],
                      "Mary":["book", 'shampoo'], 
                      "Joe":["book", "shirt", 'coat', 'shoes','kindle','etc']},
                    "Delivery_Schedule":{"Adam":"Monday", "Mary":"Tuesday",'Joe':'Wednesday'}}

In [5]:
# returns all the combinations of key value pairs
dict1.items()

dict_items([('ON', 'Toronto'), ('MB', 'Winnipeg'), ('SK', 'Regina'), ('BC', 'Victoria'), ('QB', 'Quebec City')])

In [6]:
# returns all the keys of the dictionary
dict1.keys()

dict_keys(['ON', 'MB', 'SK', 'BC', 'QB'])

In [7]:
# return all the values of the dictionary
dict1.values()

dict_values(['Toronto', 'Winnipeg', 'Regina', 'Victoria', 'Quebec City'])

In [8]:
# dictionaries do not support slicing
dict1[0]

KeyError: 0

In [9]:
# the square bracked immediately beside the object name is used for Item Assignment in dictionaries
# with item assignment in dictionaries, we are adding a NEW key:value pair
dict1["PEI"] = "Charlottetown"

In [10]:
dict1

{'ON': 'Toronto',
 'MB': 'Winnipeg',
 'SK': 'Regina',
 'BC': 'Victoria',
 'QB': 'Quebec City',
 'PEI': 'Charlottetown'}

In [11]:
# if you reference an existing key in the square brackets, the code will return the corresponding value
dict1["ON"]

'Toronto'

In [14]:
# Add a new customer and their purchases to the purchases dictionary
purchases["Bob"] = ["vitamix", "comb", "vaccuum"]

In [15]:
purchases

{'Adam': ['shoes', 'book', 'shirt'],
 'Mary': ['book', 'shampoo'],
 'Joe': ['book', 'shirt', 'coat', 'shoes', 'kindle', 'etc'],
 'Bob': ['vitamix', 'comb', 'vaccuum']}

In [16]:
purchases["Ana"] = ["book"]

In [17]:
purchases

{'Adam': ['shoes', 'book', 'shirt'],
 'Mary': ['book', 'shampoo'],
 'Joe': ['book', 'shirt', 'coat', 'shoes', 'kindle', 'etc'],
 'Bob': ['vitamix', 'comb', 'vaccuum'],
 'Ana': ['book']}

In [20]:
# with a nested dictionary, we need TWO levels of slicing
purchases_nested['Customer_Orders']["Adam"]

['shoes', 'book', 'shirt']

In [21]:
# in the nested purchases dictionary, how can we add a new customer order? hint: remember that we also have to add the delivery date

purchases_nested['Customer_Orders']["Anm"] = ["bag","socks"]
purchases_nested['Delivery_Schedule']["Anm"] = "thursday"
purchases_nested

{'Customer_Orders': {'Adam': ['shoes', 'book', 'shirt'],
  'Mary': ['book', 'shampoo'],
  'Joe': ['book', 'shirt', 'coat', 'shoes', 'kindle', 'etc'],
  'Anm': ['bag', 'socks']},
 'Delivery_Schedule': {'Adam': 'Monday',
  'Mary': 'Tuesday',
  'Joe': 'Wednesday',
  'Anm': 'thursday'}}

In [22]:
purchases_nested['Delivery_Schedule']["Anm"] = {"bag":"Thursday", "socks":"friday"}

In [23]:
purchases_nested

{'Customer_Orders': {'Adam': ['shoes', 'book', 'shirt'],
  'Mary': ['book', 'shampoo'],
  'Joe': ['book', 'shirt', 'coat', 'shoes', 'kindle', 'etc'],
  'Anm': ['bag', 'socks']},
 'Delivery_Schedule': {'Adam': 'Monday',
  'Mary': 'Tuesday',
  'Joe': 'Wednesday',
  'Anm': {'bag': 'Thursday', 'socks': 'friday'}}}

### Looping through data

In [24]:
# collection objects include Lists, Tuples, Sets, Dictionaries, Strings
# For loop
# While Loop

In [33]:
# Iteration means that we are mechanically isolating each value one by one and making a change to the value
customer_purchase_amounts = [100.50, 48.67, 34.78, 51.90, 56.98, 34.23]

In [32]:
# Let's say we want to round each value, a manual solution requires a lot of human intervention
customer_purchase_amounts[0] = round(100.50)
customer_purchase_amounts[1] = round(48.67)
customer_purchase_amounts[2] = round(34.78)
customer_purchase_amounts[3] = round(51.90)
customer_purchase_amounts[4] = round(56.98)
customer_purchase_amounts[5] = round(34.23)

In [34]:
# the logic says "for each item in the iterable object, take some action"
for item in customer_purchase_amounts:
    print(round(item))

100
49
35
52
57
34

In [38]:
# most of the time we use "for i in ___" as the syntax
for i in customer_purchase_amounts:
    print(round(i))

100
49
35
52
57
34

In [39]:
customer_purchase_amounts

[100.5, 48.67, 34.78, 51.9, 56.98, 34.23]

In [42]:
rounded_values = []
for i in customer_purchase_amounts:
    rounded_values.append(round(i))

In [43]:
rounded_values

[100, 49, 35, 52, 57, 34]

In [44]:
customer_purchase_amounts

[100.5, 48.67, 34.78, 51.9, 56.98, 34.23]

In [48]:
# how can we use the loop, to replace the list values with the ROUNDED values IN PLACE?
customer_purchase_amounts = [100.50, 48.67, 34.78, 51.90, 56.98, 34.23]

count = 0
for i in customer_purchase_amounts:
    customer_purchase_amounts[count]= round(i)
    count+=1
customer_purchase_amounts

[100, 49, 35, 52, 57, 34]

In [47]:
customer_purchase_amounts = [100.50, 48.67, 34.78, 51.90, 56.98, 34.23]

for i in range(len(customer_purchase_amounts)):
    customer_purchase_amounts[i] = round(customer_purchase_amounts[i])

print(customer_purchase_amounts)

[100, 49, 35, 52, 57, 34]

In [51]:
customer_purchase_amounts = [100.50, 48.67, 34.78, 51.90, 56.98, 34.23]

for i in range(len(customer_purchase_amounts)):
    print(i)

0
1
2
3
4
5

In [54]:
customer_purchase_amounts = [100.50, 48.67, 34.78, 51.90, 56.98, 34.23]

for i in range(0,len(customer_purchase_amounts)-1):
    customer_purchase_amounts[i] = round(customer_purchase_amounts[i])

customer_purchase_amounts

[100, 49, 35, 52, 57, 34.23]

In [56]:
for i in range(0,len(customer_purchase_amounts)-1):
    print(i)

0
1
2
3
4

In [58]:
customer_purchase_amounts.index(100)

0

In [60]:
customer_purchase_amounts.index(35)

2

In [59]:
# NOTE: this method will NOT work if you don't have unique values, because index() always finds the first vaue

customer_purchase_amounts = [100.50, 48.67, 34.78, 51.90, 56.98, 34.23]

for i in customer_purchase_amounts:
    customer_purchase_amounts[customer_purchase_amounts.index(i)] = round(i)

customer_purchase_amounts

[100, 49, 35, 52, 57, 34]