In [1]:
# Topics for today
# dictionaries and dictionary manipulation
# conditional programming
# loops
# defining custom functions
# manipulation of data files with Python's open / read / write mechanisms > without any external libraries

### Dictionaries

In [2]:
# key - value pairs
dict1 = {"ON":"Toronto", "MB":"Winnipeg", "SK":"Regina", "BC":"Victoria", "QB":"Quebec City"}

In [3]:
purchases = {"Adam":["shoes", "book", "shirt"], "Mary":["book", 'shampoo'], "Joe":["book", "shirt", 'coat', 'shoes','kindle','etc']}

In [4]:
purchases_nested = {"Customer_Orders":
                    {"Adam":["shoes", "book", "shirt"],
                      "Mary":["book", 'shampoo'], 
                      "Joe":["book", "shirt", 'coat', 'shoes','kindle','etc']},
                    "Delivery_Schedule":{"Adam":"Monday", "Mary":"Tuesday",'Joe':'Wednesday'}}

In [127]:
purchases_nested['Customer_Orders']['Adam']

['shoes', 'book', 'shirt']

In [5]:
# returns all the combinations of key value pairs
dict1.items()

dict_items([('ON', 'Toronto'), ('MB', 'Winnipeg'), ('SK', 'Regina'), ('BC', 'Victoria'), ('QB', 'Quebec City')])

In [6]:
# returns all the keys of the dictionary
dict1.keys()

dict_keys(['ON', 'MB', 'SK', 'BC', 'QB'])

In [7]:
# return all the values of the dictionary
dict1.values()

dict_values(['Toronto', 'Winnipeg', 'Regina', 'Victoria', 'Quebec City'])

In [8]:
# dictionaries do not support slicing
dict1[0]

KeyError: 0

In [9]:
# the square bracked immediately beside the object name is used for Item Assignment in dictionaries
# with item assignment in dictionaries, we are adding a NEW key:value pair
dict1["PEI"] = "Charlottetown"

In [10]:
dict1

{'ON': 'Toronto',
 'MB': 'Winnipeg',
 'SK': 'Regina',
 'BC': 'Victoria',
 'QB': 'Quebec City',
 'PEI': 'Charlottetown'}

In [11]:
# if you reference an existing key in the square brackets, the code will return the corresponding value
dict1["ON"]

'Toronto'

In [14]:
# Add a new customer and their purchases to the purchases dictionary
purchases["Bob"] = ["vitamix", "comb", "vaccuum"]

In [15]:
purchases

{'Adam': ['shoes', 'book', 'shirt'],
 'Mary': ['book', 'shampoo'],
 'Joe': ['book', 'shirt', 'coat', 'shoes', 'kindle', 'etc'],
 'Bob': ['vitamix', 'comb', 'vaccuum']}

In [16]:
purchases["Ana"] = ["book"]

In [17]:
purchases

{'Adam': ['shoes', 'book', 'shirt'],
 'Mary': ['book', 'shampoo'],
 'Joe': ['book', 'shirt', 'coat', 'shoes', 'kindle', 'etc'],
 'Bob': ['vitamix', 'comb', 'vaccuum'],
 'Ana': ['book']}

In [20]:
# with a nested dictionary, we need TWO levels of slicing
purchases_nested['Customer_Orders']["Adam"]

['shoes', 'book', 'shirt']

In [21]:
# in the nested purchases dictionary, how can we add a new customer order? hint: remember that we also have to add the delivery date

purchases_nested['Customer_Orders']["Anm"] = ["bag","socks"]
purchases_nested['Delivery_Schedule']["Anm"] = "thursday"
purchases_nested

{'Customer_Orders': {'Adam': ['shoes', 'book', 'shirt'],
  'Mary': ['book', 'shampoo'],
  'Joe': ['book', 'shirt', 'coat', 'shoes', 'kindle', 'etc'],
  'Anm': ['bag', 'socks']},
 'Delivery_Schedule': {'Adam': 'Monday',
  'Mary': 'Tuesday',
  'Joe': 'Wednesday',
  'Anm': 'thursday'}}

In [22]:
purchases_nested['Delivery_Schedule']["Anm"] = {"bag":"Thursday", "socks":"friday"}

In [23]:
purchases_nested

{'Customer_Orders': {'Adam': ['shoes', 'book', 'shirt'],
  'Mary': ['book', 'shampoo'],
  'Joe': ['book', 'shirt', 'coat', 'shoes', 'kindle', 'etc'],
  'Anm': ['bag', 'socks']},
 'Delivery_Schedule': {'Adam': 'Monday',
  'Mary': 'Tuesday',
  'Joe': 'Wednesday',
  'Anm': {'bag': 'Thursday', 'socks': 'friday'}}}

### Looping through data

In [24]:
# collection objects include Lists, Tuples, Sets, Dictionaries, Strings
# For loop
# While Loop

In [33]:
# Iteration means that we are mechanically isolating each value one by one and making a change to the value
customer_purchase_amounts = [100.50, 48.67, 34.78, 51.90, 56.98, 34.23]

In [32]:
# Let's say we want to round each value, a manual solution requires a lot of human intervention
customer_purchase_amounts[0] = round(100.50)
customer_purchase_amounts[1] = round(48.67)
customer_purchase_amounts[2] = round(34.78)
customer_purchase_amounts[3] = round(51.90)
customer_purchase_amounts[4] = round(56.98)
customer_purchase_amounts[5] = round(34.23)

In [34]:
# the logic says "for each item in the iterable object, take some action"
for item in customer_purchase_amounts:
    print(round(item))

100
49
35
52
57
34

In [38]:
# most of the time we use "for i in ___" as the syntax
for i in customer_purchase_amounts:
    print(round(i))

100
49
35
52
57
34

In [39]:
customer_purchase_amounts

[100.5, 48.67, 34.78, 51.9, 56.98, 34.23]

In [42]:
rounded_values = []
for i in customer_purchase_amounts:
    rounded_values.append(round(i))

In [43]:
rounded_values

[100, 49, 35, 52, 57, 34]

In [44]:
customer_purchase_amounts

[100.5, 48.67, 34.78, 51.9, 56.98, 34.23]

In [48]:
# how can we use the loop, to replace the list values with the ROUNDED values IN PLACE?
customer_purchase_amounts = [100.50, 48.67, 34.78, 51.90, 56.98, 34.23]

count = 0
for i in customer_purchase_amounts:
    customer_purchase_amounts[count]= round(i)
    count+=1
customer_purchase_amounts

[100, 49, 35, 52, 57, 34]

In [47]:
customer_purchase_amounts = [100.50, 48.67, 34.78, 51.90, 56.98, 34.23]

for i in range(len(customer_purchase_amounts)):
    customer_purchase_amounts[i] = round(customer_purchase_amounts[i])

print(customer_purchase_amounts)

[100, 49, 35, 52, 57, 34]

In [51]:
customer_purchase_amounts = [100.50, 48.67, 34.78, 51.90, 56.98, 34.23]

for i in range(len(customer_purchase_amounts)):
    print(i)

0
1
2
3
4
5

In [54]:
customer_purchase_amounts = [100.50, 48.67, 34.78, 51.90, 56.98, 34.23]

for i in range(0,len(customer_purchase_amounts)-1):
    customer_purchase_amounts[i] = round(customer_purchase_amounts[i])

customer_purchase_amounts

[100, 49, 35, 52, 57, 34.23]

In [56]:
for i in range(0,len(customer_purchase_amounts)-1):
    print(i)

0
1
2
3
4

In [58]:
customer_purchase_amounts.index(100)

0

In [60]:
customer_purchase_amounts.index(35)

2

In [59]:
# NOTE: this method will NOT work if you don't have unique values, because index() always finds the first vaue

customer_purchase_amounts = [100.50, 48.67, 34.78, 51.90, 56.98, 34.23]

for i in customer_purchase_amounts:
    customer_purchase_amounts[customer_purchase_amounts.index(i)] = round(i)

customer_purchase_amounts

[100, 49, 35, 52, 57, 34]

In [65]:
# looping through a tuple, is very similar to a list
tuple1 = (1,2,3,4,5)
list1 = []
for i in tuple1:
    list1.append(i*2)

list1

[2, 4, 6, 8, 10]

In [66]:
# looping through dictionaries
# the simple loop notation will ONLY return the KEYS of the dictionary, not the values
for i in dict1:
    print(i)

ON
MB
SK
BC
QB
PEI

In [68]:
# to return both the keys and values, we need to loop through the dict1.items() attribute
for i in dict1.items():
    print(i)

('ON', 'Toronto')
('MB', 'Winnipeg')
('SK', 'Regina')
('BC', 'Victoria')
('QB', 'Quebec City')
('PEI', 'Charlottetown')

In [76]:
# to change a value in one of the tuples, we first need to convert it to a list
for i in dict1.items():
    list(i) # convert the tuples to a list format
    list(i)[0] # isolate the first position
    print(tuple([list(i)[0].lower(), list(i)[1]])) # if we are making a change, then we need to chain a few functions together including converting a list

('on', 'Toronto')
('mb', 'Winnipeg')
('sk', 'Regina')
('bc', 'Victoria')
('qb', 'Quebec City')
('pei', 'Charlottetown')

In [116]:
# let's add a second city to each province
# the function we need to write will need to isolate each value, based on the key, and replace it with a list of multiple cities
cities = [["Toronto","Ottawa"], ["Winnipeg", "Churchill"], ["Regina", "Saskatoon"]
          , ["Victoria", "Vancouver"], ['Quebec City', "Montreal"], ['Charlottetown','Cornwall']]

dict1 = {'ON': 'Toronto',
 'MB': 'Winnipeg',
 'SK': 'Regina',
 'BC': 'Victoria',
 'QB': 'Quebec City',
 'PEI': 'Charlottetown'}

In [ ]:
# create a list of all keys

ON Toronto
MB Winnipeg
SK Regina
BC Victoria
QB Quebec City
PEI Charlottetown

In [83]:
list1 = []
for i in dict1.items():
    list1.append(list(i)[1])
    print(list1)

['Toronto']
['Toronto', 'Winnipeg']
['Toronto', 'Winnipeg', 'Regina']
['Toronto', 'Winnipeg', 'Regina', 'Victoria']
['Toronto', 'Winnipeg', 'Regina', 'Victoria', 'Quebec City']
['Toronto', 'Winnipeg', 'Regina', 'Victoria', 'Quebec City', 'Charlottetown']

In [84]:
list1

['Toronto', 'Winnipeg', 'Regina', 'Victoria', 'Quebec City', 'Charlottetown']

In [117]:
for province,capital in dict1.items():
    for each_combo in cities:
        if capital in each_combo:
            dict1[province] = each_combo
            # break
print(dict1)

{'ON': ['Toronto', 'Ottawa'], 'MB': ['Winnipeg', 'Churchill'], 'SK': ['Regina', 'Saskatoon'], 'BC': ['Victoria', 'Vancouver'], 'QB': ['Quebec City', 'Montreal'], 'PEI': ['Charlottetown', 'Cornwall']}

In [112]:
for province,capital in dict1.items():
       for each_combo in cities:
              if capital in each_combo:
                     dict1[province] = each_combo
print(dict1)

{'ON': ['Toronto', 'Ottawa'], 'MB': ['Winnipeg', 'Churchill'], 'SK': ['Regina', 'Saskatoon'], 'BC': ['Victoria', 'Vancouver'], 'QB': ['Quebec City', 'Montreal'], 'PEI': ['Charlottetown', 'Cornwall']}

In [102]:
dict1.items()

dict_items([('ON', 'Toronto'), ('MB', 'Winnipeg'), ('SK', 'Regina'), ('BC', 'Victoria'), ('QB', 'Quebec City'), ('PEI', 'Charlottetown')])

In [122]:
x = 500

if x > 500:
    print("X is high")
elif x < 500:
    print("X is low")
else:
    print("x is 500")

x is 500

In [128]:
purchases_nested['Customer_Orders']

{'Adam': ['shoes', 'book', 'shirt'],
 'Mary': ['book', 'shampoo'],
 'Joe': ['book', 'shirt', 'coat', 'shoes', 'kindle', 'etc'],
 'Anm': ['bag', 'socks']}

In [138]:
# let's count the number of people who bought a book

counter_book = 0
counter_shirt = 0
everything_else = 0

for a, b in purchases_nested['Customer_Orders'].items():
    print(b)
    if 'book' in b:
        counter_book += 1
        print(counter_book)
    
    if 'shirt' in b:
        counter_shirt +=1
        print(counter_shirt)
    everything_else += len(b)
    print(everything_else - counter_book - counter_shirt)

['shoes', 'book', 'shirt']
1
1
1
['book', 'shampoo']
2
2
['book', 'shirt', 'coat', 'shoes', 'kindle', 'etc']
3
2
6
['bag', 'socks']
8

In [139]:
# let's count the number of people who bought a book

counter_book_and_shirt = 0

for a, b in purchases_nested['Customer_Orders'].items():
    print(b)
    if 'book' in b and 'shirt' in b:
        counter_book_and_shirt += 1
        print(counter_book_and_shirt)

['shoes', 'book', 'shirt']
1
['book', 'shampoo']
['book', 'shirt', 'coat', 'shoes', 'kindle', 'etc']
2
['bag', 'socks']

In [141]:
# let's count the number of people who bought a book

counter_book_and_shirt = 0

for a, b in purchases_nested['Customer_Orders'].items():
    print(b)
    if 'bag' in b or 'shampoo' in b:
        counter_book_and_shirt += 1
        print(counter_book_and_shirt)

['shoes', 'book', 'shirt']
['book', 'shampoo']
1
['book', 'shirt', 'coat', 'shoes', 'kindle', 'etc']
['bag', 'socks']
2

In [142]:
# Defining Custom Functions
purchases_nested

{'Customer_Orders': {'Adam': ['shoes', 'book', 'shirt'],
  'Mary': ['book', 'shampoo'],
  'Joe': ['book', 'shirt', 'coat', 'shoes', 'kindle', 'etc'],
  'Anm': ['bag', 'socks']},
 'Delivery_Schedule': {'Adam': 'Monday',
  'Mary': 'Tuesday',
  'Joe': 'Wednesday',
  'Anm': {'bag': 'Thursday', 'socks': 'friday'}}}

In [143]:
purchases_jan = {'Customer_Orders': {'Adam': ['shoes', 'apples', 'shirt'],
  'Mary': ['book', 'conditioner'],
  'Joe': ['book', 'socks', 'coat', 'shoes', 'kindle', 'etc'],
  'Anm': ['bag', 'coat', 'bananas']},
 'Delivery_Schedule': {'Adam': 'Monday',
  'Mary': 'Tuesday',
  'Joe': 'Wednesday',
  'Anm': {'bag': 'Thursday', 'socks': 'friday'}}}

In [144]:
purchases_feb = {'Customer_Orders': {'Adam': ['shoes', 'apples', 'book', 'computer'],
  'Mary': ['book', 'conditioner', 'shirt'],
  'Joe': ['book', 'socks', 'coat', 'shoes', 'kindle', 'computer mouse'],
  'Anm': ['bag', 'coat', 'bananas', 'apples']},
 'Delivery_Schedule': {'Adam': 'Monday',
  'Mary': 'Tuesday',
  'Joe': 'Wednesday',
  'Anm': {'bag': 'Thursday', 'socks': 'friday'}}}

In [145]:
# let's count the number of people who bought a book

counter_book = 0
counter_shirt = 0
everything_else = 0

for a, b in purchases_jan['Customer_Orders'].items():
    print(b)
    if 'book' in b:
        counter_book += 1
        print(counter_book)
    
    if 'shirt' in b:
        counter_shirt +=1
        print(counter_shirt)
    everything_else += len(b)
    print(everything_else - counter_book - counter_shirt)

['shoes', 'apples', 'shirt']
1
2
['book', 'conditioner']
1
3
['book', 'socks', 'coat', 'shoes', 'kindle', 'etc']
2
8
['bag', 'coat', 'bananas']
11

In [146]:
# let's count the number of people who bought a book

counter_book = 0
counter_shirt = 0
everything_else = 0

for a, b in purchases_feb['Customer_Orders'].items():
    print(b)
    if 'book' in b:
        counter_book += 1
        print(counter_book)
    
    if 'shirt' in b:
        counter_shirt +=1
        print(counter_shirt)
    everything_else += len(b)
    print(everything_else - counter_book - counter_shirt)

['shoes', 'apples', 'book', 'computer']
1
3
['book', 'conditioner', 'shirt']
2
1
4
['book', 'socks', 'coat', 'shoes', 'kindle', 'computer mouse']
3
9
['bag', 'coat', 'bananas', 'apples']
13

In [147]:
# the purpose of custom functions is to store repetitive code in a custom function, so execution is faster and writing the code is more efficient
def book_and_shirt_counter(x):
    counter_book = 0
    counter_shirt = 0
    everything_else = 0

    for a, b in x['Customer_Orders'].items():
        if 'book' in b:
            counter_book += 1
    
        if 'shirt' in b:
            counter_shirt +=1
        everything_else += len(b)
    print('Total_Shirts: ', counter_shirt)
    print('Total_Books: ', counter_book)        
    print('Everything_else: ', everything_else - counter_book - counter_shirt)

In [148]:
book_and_shirt_counter(purchases_feb)

Total_Shirts:  1
Total_Books:  3
Everything_else:  13

In [149]:
book_and_shirt_counter(purchases_jan)

Total_Shirts:  1
Total_Books:  2
Everything_else:  11

In [150]:
book_and_shirt_counter(purchases_nested)

Total_Shirts:  2
Total_Books:  3
Everything_else:  8

In [151]:
# how could you define a function to find the MEDIAN value of a list?
# use if statements, list position slicing

def find_median(x): 
    x.sort() # in place sorting of the list
    list_length = len(x)
    if list_length % 2 == 0: # even list
        first_position = list_length // 2
        second_position = (list_length // 2)-1
        median = (x[first_position] + x[second_position]) / 2

    else: # odd numbered list
        median = x[list_length // 2]
    
    return median

In [152]:
random_list = [15, 58, 2, 35, 14, 7, 9, 150, 28, 4]
find_median(random_list)

14.5

In [153]:
odd_list = [15, 58, 2, 35, 14, 7, 9, 150, 4]
find_median(odd_list)

14