In [15]:
2 + 2

4

In [16]:
# Variable
x = 5

In [17]:
x

5

In [18]:
x * 10

50

In [19]:
x = 40

In [20]:
x * 10

400

In [21]:
x = [2,3,4,5]

In [23]:
x

[2, 3, 4, 5]

In [24]:
# data types
integer = 5

In [25]:
floating_point = 5.6

In [26]:
string_value = 'words'

In [27]:
integer * 5

25

In [28]:
floating_point*5

28.0

In [29]:
5.0 == 5

True

In [30]:
# Functions typically have the syntax function_name(arg1, arg2, arg3)
# function_name(str)
# function_name([str,int,float])
# function_name(iterable) > function works with any iterable object Lists, Tuples, Dictionary
type(integer)

int

In [31]:
type(floating_point)

float

In [32]:
type(string_value)

str

In [33]:
type(x)

list

In [ ]:
str()
int()
float()

In [34]:
floating_point

5.6

In [35]:
int(floating_point)

5

In [36]:
floating_point_converted = int(floating_point)

In [37]:
floating_point_converted

5

In [38]:
int = 10

In [39]:
int(floating_point)

TypeError: 'int' object is not callable

In [40]:
# if you need to delete a variable
del int

In [41]:
int(floating_point)

5

In [42]:
5*5
4*5
3*5

15

In [43]:
print(5*5)
print(4*5)
print(3*5)

25
20
15

In [44]:
print("My age is", 4*5)

My age is 20

In [45]:
"My age is"
'My age is'

'My age is'

In [46]:
# f-string > dynamically updated string
# let's say we have a constant variable
x = 5

In [47]:
print("My age is", 7*x)

My age is 35

In [48]:
print("My age is", 6*x, "and I really like pasta")

My age is 30 and I really like pasta

In [49]:
print(f"My age is {6*x} and I really like pasta")

My age is 30 and I really like pasta