In [1]:
2+2

4

In [1]:
# variables
x = 5

In [2]:
x

5

In [3]:
x * 225

1125

In [4]:
# the type() function is a built-in Python function which tells us about the data type of the variable
type(x)

int

In [5]:
y = 7.6

In [6]:
type(y)

float

In [7]:
z = 'Hello'

In [8]:
type(z)

str

In [9]:
"Hello", 'Hello'

('Hello', 'Hello')

In [10]:
y

7.6

In [11]:
# the print() function allows us to display an output
print(y)

7.6

In [12]:
print(y, x, z)

7.6 5 Hello

In [13]:
# you can combine multiple variables (stored or not) in a print statement to display a custom output
print(x, ", ", y, ", ", z)

5 ,  7.6 ,  Hello

In [14]:
# addition
x + y

12.6

In [15]:
# subtraction
y - x

2.5999999999999996

In [16]:
# division
y/x

1.52

In [17]:
# multiplication
y * x

38.0

In [19]:
# when you perform operations on a float AND integer, the output is always a float
5 + 5.0

10.0

In [20]:
# when dividing, the output is always a float even if you are dividing 2 integers
4/2

2.0

In [21]:
# floor division drops the decimal of an output
5 // 2

2

In [22]:
5/2

2.5

In [23]:
# use modulo symbol to get the remainder of a division
5 % 2

1

In [24]:
# while single equal sign is used to define variables, we use a double equal sign to check for equivalence
5 == 5

True

In [25]:
# greater than and less than, we can use > <
5 > 4

True

In [26]:
5 < 3

False

In [27]:
# greater/less than and equal to
5 >= 3

True

In [28]:
# sequence types - list. we will overwrite the variable x and define a new list. A list is defined by using square brackets []
# lists can hold heterogeneous data (i.e., a mix of int, float, str), but best practice is to hold homogeneous data (i.e., only int, etc.)
x = [5,8,7,9,62,87,5.2,1,3]

In [29]:
x

[5, 8, 7, 9, 62, 87, 5.2, 1, 3]

In [30]:
type(x)

list

In [31]:
# for comparison, let's create a tuple object as well
# to create a tuple, we use round brackets ()
y = (5,4,8,91,4,5,3,6)

In [33]:
y

(5, 4, 8, 91, 4, 5, 3, 6)

In [32]:
type(y)

tuple

In [34]:
# we have a slight change in syntax when we use object methods vs. global methods (global method = Python native function or Class function). 
# object method means a function that is specific to the object
# for example, the print() function is a global method

print(x)

[5, 8, 7, 9, 62, 87, 5.2, 1, 3]

In [35]:
print(y)

(5, 4, 8, 91, 4, 5, 3, 6)

In [36]:
print(3 +4)

7

In [37]:
# any functions available for a particular object can only be used for that type of object, for example the sort() function of a list
# the syntax changes from function(object) to object.function(argument)
# let's take a look at sorting a list
# python has a sorted() function, which is a global function and can be applied to tuples/lists

sorted(x) # sort a list

[1, 3, 5, 5.2, 7, 8, 9, 62, 87]

In [39]:
sorted(y) # sort a tuple

[3, 4, 4, 5, 5, 6, 8, 91]

In [41]:
# the list also offers a sort() function
# the difference is that the list function will permanently change the list
x.sort()

In [42]:
x

[1, 3, 5, 5.2, 7, 8, 9, 62, 87]

In [43]:
# if I try to use the list specific function on a tuple, I'm going to get an attribute error. 
# an attribute error means you're trying to apply a function to an object which does not support that particular function
y.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [44]:
# you can work around this by using the sorted() function and overwriting your tuple
# the output of the sorted() function is a list object
y = sorted(y)

In [45]:
y = (1,8,7,9,76)

In [46]:
# let's look at more examples of list functions
# lists are mutable objects
# append() allows us to add any single item to the end of a list

x.append(15)

In [47]:
x

[1, 3, 5, 5.2, 7, 8, 9, 62, 87, 15]

In [48]:
# if we want to add multiple items, we need to use the extend() function 
# the argument of the extend() function needs to be a sequential object (like a list or tuple))
x.extend([51,86,97]) # here I am passing a list of values to add

In [49]:
x

[1, 3, 5, 5.2, 7, 8, 9, 62, 87, 15, 51, 86, 97]

In [50]:
x.extend((8,9,15)) # here I am passing a tuple of values to add

In [51]:
x

[1, 3, 5, 5.2, 7, 8, 9, 62, 87, 15, 51, 86, 97, 8, 9, 15]

In [52]:
# count() allows us to count the number of occurences of a specific value
x.count(8)

2

In [53]:
# if I wanted to find a specific position in my list for a value, I can use index
# Python begins counting at Position 0. So the first position of a list is actually position = 0
x.index(9)

6

In [54]:
# the index() function will only return the first instance of a value in a list, rather than every instance
# this is a drawback if you have duplicate values
x.index(8)

5

In [55]:
# the insert() method allows you to add a value in a specific position in the list
# unlike append() and extend() which add values to the END of a list
x.insert(0, 'hello')

In [56]:
x

['hello', 1, 3, 5, 5.2, 7, 8, 9, 62, 87, 15, 51, 86, 97, 8, 9, 15]

In [57]:
# let's insert something in the 5th position of a list
x.insert(4, 'hello')

In [58]:
x

['hello', 1, 3, 5, 'hello', 5.2, 7, 8, 9, 62, 87, 15, 51, 86, 97, 8, 9, 15]

In [59]:
# the pop() function allows us to remove a value at a specific position
# the pop() function will print out the value, and remove it from the list
x.pop(4)

'hello'

In [60]:
x

['hello', 1, 3, 5, 5.2, 7, 8, 9, 62, 87, 15, 51, 86, 97, 8, 9, 15]

In [61]:
# the remove() function is based on a VALUE rather than index position
# it only removes the first instance / occurence of a value, so doesn't work with duplicate values
x.remove('hello')

In [62]:
x

[1, 3, 5, 5.2, 7, 8, 9, 62, 87, 15, 51, 86, 97, 8, 9, 15]

In [63]:
# the reverse() function flips the list around regardless of order
x.reverse()

In [64]:
x

[15, 9, 8, 97, 86, 51, 15, 87, 62, 9, 8, 7, 5.2, 5, 3, 1]

In [65]:
# if you wanted to sort the list largest to smallest, you can use sort with a reverse=True argument
# make sure to capitalize boolean values, as Python is case sensitive
x.sort(reverse=True) # note that the word True does not have quotations, bc this is a boolean value

In [68]:
# tuples ONLY have 2 functions > index() and count()
# index() will tell us the position of a particular value, just like the list function
y.index(9)

3

In [69]:
# the count function counts the number of occurrences of a particular value
y.count(9)

1

In [70]:
x

[97, 87, 86, 62, 51, 15, 15, 9, 9, 8, 8, 7, 5.2, 5, 3, 1]

In [71]:
# item assignment
# lists are mutable objects, which means we can also directly replace a value in a list
# we use square brackets immediately beside the variable name, to indicate to python that we are isolating (or slicing) a specific position
# to change the value in the first position, isolate position 0 and set it equal to 1000

x[0] = 1000

In [72]:
x

[1000, 87, 86, 62, 51, 15, 15, 9, 9, 8, 8, 7, 5.2, 5, 3, 1]

In [73]:
# if we tried to do the same to a tuple, we would get an error because tuples don't support item assignment
# tuples are immutable objects
y[0] = 1000

TypeError: 'tuple' object does not support item assignment

In [74]:
x[4] = 2000

In [75]:
x

[1000, 87, 86, 62, 2000, 15, 15, 9, 9, 8, 8, 7, 5.2, 5, 3, 1]