In [1]:
## Topics for the day
# Slicing
# Sets and Dictionaries
# String operations
# Loops (for loops)
# Conditional statements (if / else)
# Custom functions

In [2]:
# Slicing
list1 = [45, 35, 89, 15, 25, 89, 14, 56, 15, 68]

In [4]:
# Slicing individual values
list1[4]

25

In [5]:
# Slicing a range of values
# Slicing everything starting at position 0 up to, but not including position 5 (6th position)
list1[0:5]

[45, 35, 89, 15, 25]

In [6]:
list1[5:8]

[89, 14, 56]

In [8]:
# Slicing with a step - let's try every other value
print(list1)
print(list1[0:10:2])

[45, 35, 89, 15, 25, 89, 14, 56, 15, 68]
[45, 89, 25, 14, 15]

In [10]:
# If I want every other value, regardless of the length of the list, I can not specify the starting/ending positions
# The first colon symbolizes the need to return the FULL list, the second colon specifies the step value
list1[::2]

[45, 89, 25, 14, 15]

In [11]:
# Slicing in reverse
# Starting at the back of the list, the first position is -1
list1[-1]

68

In [13]:
# If you're slicing a range of the values you want starting from the back, the notation is still left to right
# E.g., if we want the last 4 values, we need to return values -4 onwards (don't specify ending value)
list1[-4:]

[14, 56, 15, 68]

In [14]:
# When you slice, you can assign any new value to replace the values in your slice
list1[0] = 100

In [17]:
list1[-1] = 300

In [18]:
list1

[100, 35, 89, 15, 25, 89, 14, 56, 15, 300]

In [19]:
# Using Sets
# Sets can only hold unique values

set1 = {100, 35, 89, 15, 25, 89, 14, 56, 15, 300}

In [20]:
# Once I define a set, it will be sorted and any duplicates will be removed
set1

{14, 15, 25, 35, 56, 89, 100, 300}

In [21]:
# we can add a value to a set using add(); this is similar to the append() function for a list
set1.add(46)

In [23]:
# pop() removes a random value from the set
set1.pop()

35

In [24]:
# remove() removes a specific value from a set
set1.remove(14)

In [25]:
set1

{15, 25, 46, 56, 89, 100, 300}

In [26]:
set2 = {46,56,85,523,17,452}

In [27]:
# Which elements exist in set1 which also exist in set2? We can use intersection() for this
set1.intersection(set2)

{46, 56}

In [28]:
set2.intersection(set1)

{46, 56}

In [29]:
# we can use the difference() function to find which elements are different - for example, what exists in set1 that does NOT exist in set2?
set1.difference(set2)

{15, 25, 89, 100, 300}

In [30]:
set2.difference(set1)

{17, 85, 452, 523}

In [31]:
# if you use intersection_update() it will overwrite the original set with just the items that are common
set1.intersection_update(set2)
set1

{46, 56}

In [32]:
# superset() and subset() > these functions will tell us if a full set exists in another
set1.issubset(set2)

True

In [33]:
print(set1)
print(set2)

{56, 46}
{17, 452, 85, 56, 523, 46}

In [34]:
# issuperset() helps identify if a set contains another set
set2.issuperset(set1)

True

In [36]:
# You can other sequential objects into a set
# for example, we can use the set() function to convert a list into a set
# this will remove duplicates
set(list1)

{14, 15, 25, 35, 56, 89, 100, 300}

In [37]:
tuple1 = (15,15, 18, 19, 25)

In [38]:
# we can convert a tuple into a set also
set(tuple1)

{15, 18, 19, 25}

In [39]:
# you can also use list() or tuple() functions to convert an object into those types
list(set1)

[56, 46]

In [40]:
list(tuple1)

[15, 15, 18, 19, 25]

In [41]:
tuple(set2)

(17, 452, 85, 56, 523, 46)

In [42]:
# You should not use function names (like set()) to define variables, bc this will overwrite the function in Python
set = {15,45}

In [43]:
set(tuple1)

TypeError: 'set' object is not callable

In [44]:
# if you do this by accident, you can use the del statement to delete the variable
del set

In [45]:
set(tuple1)

{15, 18, 19, 25}

In [46]:
# String Operations
string1 = "This weekend is sunny. I'm excited to sit outside in the sun later!"

In [47]:
# we can slice strings the same way that we can lists
string1[0]

'T'

In [48]:
# slice a range of letters - this is called a substring
string1[0:15]

'This weekend is'

In [49]:
# slice letters with a step parameter
string1[::3]

"Tsee  n.'eidoiosenhs t!"

In [50]:
# We cannot do item assignment in strings, like we can in lists
string1[0] = 't'

TypeError: 'str' object does not support item assignment

In [51]:
# Even if a value is stored as a string, if it's a number we can use the isnumeric() function to check
test_value = "5"

In [52]:
test_value.isnumeric()

True

In [53]:
product_code = "AB1234"

In [54]:
# you can use isalnum() to check if a value is alphanumeric (both numbers and letters)
product_code.isalnum()

True

In [55]:
# False, because I have special characters "." and "!"
string1.isalpha()

False

In [56]:
string1

"This weekend is sunny. I'm excited to sit outside in the sun later!"

In [57]:
# check if every 1st letter is capitalized
string1.istitle()

False

In [58]:
# isupper() and islower() will check if all letters are upper or lower case
string1.isupper()

False

In [59]:
string1.islower()

False

In [60]:
# You can use upper(), lower(), capitalize()
string1.capitalize()

"This weekend is sunny. i'm excited to sit outside in the sun later!"

In [61]:
string1.upper()

"THIS WEEKEND IS SUNNY. I'M EXCITED TO SIT OUTSIDE IN THE SUN LATER!"

In [62]:
string1.lower()

"this weekend is sunny. i'm excited to sit outside in the sun later!"

In [63]:
productA = "ABC123"
productB = "abc456"

In [68]:
# we can check for a substring using the "in" parameter
for i in [productA, productB]:
    print("abc" in i.lower())

True
True

In [69]:
# here we can see that if we don't make both product codes lowercase, Python won't recognize the uppercase ABC
for i in [productA, productB]:
    print("abc" in i)

False
True

In [70]:
# we can use replace() to change a substring
string1.replace(".", "!")

"This weekend is sunny! I'm excited to sit outside in the sun later!"

In [71]:
# You will notice that replace() is not natively an inplace change. So if you want to store the change permanently you need to overwrie the variable
string1.replace('sunny', 'warm')

"This weekend is warm. I'm excited to sit outside in the sun later!"

In [72]:
# the find() function will find the starting position of a particular value
string1.find('sunny')

16

In [73]:
productC = "123ON_12"
productD = "ON_1234_13"

In [76]:
# let's say we have an operation where we want to isolate the province that the product comes from
# manual slicing would require a different function for every product name, if they are not consistently named
print(productC[3:5])
print(productD[0:2])

ON
ON

In [83]:
productC.find('ON')

3

In [81]:
# the way we can automate this with a few function is using a combination of find() and slicing
# instead of hardcoding the starting and ending positions, I can make them dynamic
print(productC[productC.find('ON'):productC.find('ON')+2])
print(productD[productD.find('ON'):productD.find('ON')+2])

ON
ON

In [82]:
for i in [productC, productD]:
    print(i[i.find('ON'):i.find('ON')+2])

ON
ON

In [ ]:
# Dictionaries
# Conditionals
# Loops

In [84]:
# Dictionaries are a type of sequential object which stores KEY:VALUE pairs; they are also defined with curly brackets like sets

dict1 = {"Customer1":"book", "Customer2":"shoes", "Customer3":'tshirt'}

In [101]:
# let's build a more complex dictionary where customers purchased multiple items
dict2 = {"Customer1":['book','shoes','tshirt'], 'Customer2':['book','cleaning supplies'],'Customer3':['tshirt','shoes','TV']}

In [86]:
# to find all the keys of your dictionary, you can use the keys() function
dict1.keys()

dict_keys(['Customer1', 'Customer2', 'Customer3'])

In [87]:
# to find all the items purchased, use the values() function
dict1.values()

dict_values(['book', 'shoes', 'tshirt'])

In [88]:
# the output of dict2 will be a list of lists (since the values are lists themselves)
dict2.values()

dict_values([['book', 'shoes', 'tshirt'], ['book', 'cleaning supplies'], ['tshirt', 'shoes', 'TV']])

In [89]:
# the items() function returns a list of tuples which contain the key and the value
dict2.items()

dict_items([('Customer1', ['book', 'shoes', 'tshirt']), ('Customer2', ['book', 'cleaning supplies']), ('Customer3', ['tshirt', 'shoes', 'TV'])])

In [90]:
# you can return the values of a specific key using either slicing brackets [] or the get() function
dict2['Customer1']

['book', 'shoes', 'tshirt']

In [91]:
dict2.get('Customer1')

['book', 'shoes', 'tshirt']

In [92]:
# How can you combine all items that all customers purchased in dict2 into a single list?
all_items = [item for sublist in dict2.values() for item in sublist]

In [93]:
all_items

['book',
 'shoes',
 'tshirt',
 'book',
 'cleaning supplies',
 'tshirt',
 'shoes',
 'TV']

In [103]:
full_list = list(dict2['Customer1'])

In [105]:
full_list.extend(list(dict2['Customer2']))

In [106]:
full_list

['book', 'shoes', 'tshirt', 'book', 'cleaning supplies']

In [107]:
full_list.extend(list(dict2['Customer3']))

In [108]:
full_list

['book',
 'shoes',
 'tshirt',
 'book',
 'cleaning supplies',
 'tshirt',
 'shoes',
 'TV']

In [109]:
dict2

{'Customer1': ['book', 'shoes', 'tshirt'],
 'Customer2': ['book', 'cleaning supplies'],
 'Customer3': ['tshirt', 'shoes', 'TV']}

In [111]:
# Loops - for loops
# simple example - let's multiply each value in a list by 2
print(list1[0]*2)
print(list1[1]*2)
print(list1[2]*2)

200
70
178

In [113]:
list1

[100, 35, 89, 15, 25, 89, 14, 56, 15, 300]

In [112]:
# "i" is a placeholder representing "each item"
# the logic says "for each item in list1, print the product of the item multiplied by 2"
for i in list1:
    print(i*2)

200
70
178
30
50
178
28
112
30
600

In [114]:
# the len() function tells us the length of the list
len(list1)

10

In [116]:
# we also have a range() function, this is a generator function which can generate a set of values that fall within a certain range
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [117]:
# an example of changing only the position of the list1[position]*2 logic we saw earlier, using the range() function
for i in range(len(list1)):
    print(list1[i]*2)

200
70
178
30
50
178
28
112
30
600

In [118]:
# if I simply multiply values by 2 from a list, i'm not permanently changing the values
list1

[100, 35, 89, 15, 25, 89, 14, 56, 15, 300]

In [121]:
# i could store the values*2 in a new list
new_list = []
for i in list1:
    new_list.append(i*2)

In [122]:
new_list

[200, 70, 178, 30, 50, 178, 28, 112, 30, 600]

In [123]:
# what would be the solution to replace each value, multiplied by 2, in the list directly?
# using the range() and len() combination, we can use positional arguments and change the value in the list directly
for i in range(len(list1)):
    list1[i] = list1[i]*2

In [124]:
list1

[200, 70, 178, 30, 50, 178, 28, 112, 30, 600]

In [125]:
# another option, if you have unique values in your list, is to use the index() function
for i in list1:
    list1[list1.index(i)] = i*2

In [126]:
list1

[400, 140, 356, 60, 100, 356, 56, 224, 60, 1200]

In [131]:
# let's review loops and how to use them with dictionaries
all_items = []
for i in dict2.values():
    all_items.extend(i)

In [132]:
all_items

['book',
 'shoes',
 'tshirt',
 'book',
 'cleaning supplies',
 'tshirt',
 'shoes',
 'TV']

In [133]:
for i in dict2.values():
    print(i)

['book', 'shoes', 'tshirt']
['book', 'cleaning supplies']
['tshirt', 'shoes', 'TV']

In [136]:
# let's review loops and how to use them with dictionaries
all_items_test = []
for i in dict2.values():
    all_items_test.append(i)

In [137]:
# if i use append() instead of extend(), my list will return a list of lists
all_items_test

[['book', 'shoes', 'tshirt'],
 ['book', 'cleaning supplies'],
 ['tshirt', 'shoes', 'TV']]

In [138]:
# using the items() function, we can return tuples of both the keys and the values
for i in dict2.items():
    print(i)

('Customer1', ['book', 'shoes', 'tshirt'])
('Customer2', ['book', 'cleaning supplies'])
('Customer3', ['tshirt', 'shoes', 'TV'])

In [139]:
# you can reference with a variable each item in a sequenced object
# this is how you can decouple an object of multiple items
a,b = (15,25)

In [140]:
a

15

In [141]:
b

25

In [142]:
# using this logic, we can create references in our loops for each of the keys and values separately
# for each combination, this loop returns the key separately (a) and the value separately (b)
for a,b in dict2.items():
    print(a)
    print(b)

Customer1
['book', 'shoes', 'tshirt']
Customer2
['book', 'cleaning supplies']
Customer3
['tshirt', 'shoes', 'TV']

In [143]:
# now let's say we have a use case where we want to put all the purchasing customers in a list, and separately all the items purchased

customers_list = []
items_list = []
for a,b in dict2.items():
    customers_list.append(a)
    items_list.extend(b)

print(customers_list)
print(items_list)

['Customer1', 'Customer2', 'Customer3']
['book', 'shoes', 'tshirt', 'book', 'cleaning supplies', 'tshirt', 'shoes', 'TV']

In [144]:
# Conditional Statements

In [145]:
list1

[400, 140, 356, 60, 100, 356, 56, 224, 60, 1200]

In [146]:
# in this operation we are using a conditional statement to check if x is greater than 50 or less than/equal to 50, and printing a dynamic sentence 
x = 100

if x > 50:
    print(f'{x} is greater than 50')
else:
    print(f'{x} is less than or equal to 50')

100 is greater than 50

In [150]:
x = 1000/13.2

if x > 50:
    print(f'{x} is greater than 50')
else:
    print(f'{x} is less than or equal to 50')

75.75757575757576 is greater than 50

In [152]:
# we can combine loops and conditional operations
list2 = [15, 18, 12, 50, 100, 65, 14, 2, 7]

In [153]:
# let's sum all the values in our list2 object which are less than 50
total = 0

# step 1: we need to iterate through the list
for i in list2:
    # step 2: we need to add our conditional statement
    if i < 50:
        # step 2: add the action if the condition is met
        total += i
        print(total)
    else:
        continue

15
33
45
59
61
68

In [154]:
# let's sum all the values in our list2 object which are less than 50
total = 0

# step 1: we need to iterate through the list
for i in list2:
    # step 2: we need to add our conditional statement
    if i < 50:
        # step 2: add the action if the condition is met
        total += i
    else:
        continue

In [155]:
total

68

In [156]:
# let's sum all the values in our list2 object which are less than 50
total = 0

# step 1: we need to iterate through the list
for i in list2:
    # step 2: we need to add our conditional statement
    if i < 50:
        # step 2: add the action if the condition is met
        total += i
        print(total)
    else:
        print(f"{i} is skipped because it's greater than 50")

15
33
45
50 is skipped because it's greater than 50
100 is skipped because it's greater than 50
65 is skipped because it's greater than 50
59
61
68

In [160]:
# an "f-string" allows us to dynamically update values inside the string. Just put an "f" infront of the string quotations, and any dynamic variables in curly brackets
x = 65
f"{x} is greater than 50"

'65 is greater than 50'

In [161]:
# let's go back to our dict2 object
# let's only identify customers who bought books

customers_with_books = []

for a,b in dict2.items():
    if 'book' in b:
        customers_with_books.append(a)
    else:
        continue

customers_with_books

['Customer1', 'Customer2']

In [163]:
dict2

{'Customer1': ['book', 'shoes', 'tshirt'],
 'Customer2': ['book', 'cleaning supplies'],
 'Customer3': ['tshirt', 'shoes', 'TV']}

In [185]:
# of all the customers with purchases, how many of each item were purchased? e.g., how many books, shoes, tshirts

all_items = []

for a,b in dict2.items():
    all_items.extend(b)

# to count the number of items that people bought, I can use use a dictionary
# the desired output would be something like {"book":2, "TV":1, "tshirt":2}

counts = {}

for i in all_items:
    if i not in counts.keys():
        counts[i] = 1
        # print(counts)
    else:
        counts[i] = counts[i] + 1
        # print(counts)
counts

{'book': 2, 'shoes': 2, 'tshirt': 2, 'cleaning supplies': 1, 'TV': 1}

In [181]:
counts['book'] = counts['book'] + 1

In [182]:
counts['book']

2

In [176]:
all_items

['book',
 'shoes',
 'tshirt',
 'book',
 'cleaning supplies',
 'tshirt',
 'shoes',
 'TV']

In [170]:
dict1['Customer1']

'book'

In [171]:
# if we want to add a new key value combination to a dictionary, we can reference a key that doesn't exist and set it equal to something new
dict1['Customer4'] = 'shoes'

In [172]:
dict1

{'Customer1': 'book',
 'Customer2': 'shoes',
 'Customer3': 'tshirt',
 'Customer4': 'shoes'}

In [186]:
# Custom Functions

In [187]:
dict4 = {'Customer5':['book','shoes','banana'], 'Customer6':['apple','banana','tshirt'], 'Customer7':['book','shoes','apple']}

In [188]:
# If i wanted to count the number items, i'd have to repeat my code from above but apply it to dict4
# this is a bit unscalable, because you may have many dictionaries

all_items = []

for a,b in dict4.items():
    all_items.extend(b)

# to count the number of items that people bought, I can use use a dictionary
# the desired output would be something like {"book":2, "TV":1, "tshirt":2}

counts = {}

for i in all_items:
    if i not in counts.keys():
        counts[i] = 1
        # print(counts)
    else:
        counts[i] = counts[i] + 1
        # print(counts)
counts

{'book': 2, 'shoes': 2, 'banana': 2, 'apple': 2, 'tshirt': 1}

In [189]:
# instead of building repetitive code, we can define a custom function

def item_counter(x): # this function takes into account a dictionary, so I'm using "x" as a placeholder to represent a dictionary
    all_items = []

    for a,b in x.items(): # the only place I reference x is here, when i'm identifying the items
        all_items.extend(b)


    counts = {}

    for i in all_items:
        if i not in counts.keys():
            counts[i] = 1
        else:
            counts[i] = counts[i] + 1
    return counts # we need to explicitly tell the function to display the output; this is done using return

In [190]:
item_counter(dict4)

{'book': 2, 'shoes': 2, 'banana': 2, 'apple': 2, 'tshirt': 1}

In [192]:
item_counter(dict2)

{'book': 2, 'shoes': 2, 'tshirt': 2, 'cleaning supplies': 1, 'TV': 1}

In [195]:
# another simple example - let's say we wanted to calculate the average of a list

sum(list1), len(list1)

(2952, 10)

In [197]:
sum(list1)/len(list1)

295.2

In [198]:
def average(x):
    return sum(x)/len(x)

In [199]:
average(list1)

295.2