In [1]:
2+2

4

### Starting with the basics

We are going to review variables and data types

In [2]:
integer = 5

In [3]:
integer

5

In [4]:
# Confirm the data type is integer
type(integer)

int

In [7]:
float_var = 5.3

In [8]:
type(float_var)

float

In [9]:
# if you accidentally define a variable using a word which is reserved for a function, you won't be able to use the function any more

type = 'hello'

In [10]:
type(type)

TypeError: 'str' object is not callable

In [11]:
# if you accidentally overwrite a function with a variable name, you can simply use the del statement to delete the variable name
del type

In [13]:
string = 'hello'
string2 = "hi"

In [15]:
type(string)

str

In [16]:
integer = 5
float_var = 5.3
string = 'hello'

print(type(integer))
print(type(float_var))
print(type(string))

<class 'int'>
<class 'float'>
<class 'str'>

In [17]:
integer = 5
float_var = 5.3
string = 'hello'

type(integer)
type(float_var)
type(string)

str

In [18]:
integer * 3.4

17.0

In [23]:
print('strin',"'",'g')

strin ' g

In [24]:
transformed_int = integer * 3.4

In [25]:
transformed_int

17.0

In [26]:
# we can create multiple reference points to the same variable
x = integer

In [28]:
# we can also overwrite a variable with a new value
x = 6

In [29]:
integer

5

In [30]:
x

6

In [31]:
x = integer

In [32]:
x

5

In [33]:
integer = 6

In [34]:
x

5

In [35]:
# multiplication
# when you multiply two integers together, the output will be an integer
x * integer

30

In [36]:
# division
# the output of division will always be a float
x / integer

0.8333333333333334

In [37]:
4 / 2

2.0

In [38]:
# we can use floor division to return an integer, using double slash //
4 // 2

2

In [39]:
# floor division means we are removing the remainder; in the case where the output is 0.8333 this would only show 0

5 // 6

0

In [41]:
# use modulo operator to see the remainder of division
# in this case, 5 goes into 6 five times, and we have 1 left over (the remainder)

6 % 5

1

In [42]:
# exponentation we can use **; for example, 5 to the power of 2

5**2

25

### Lists, Tuples, Sets, and Dictionaries

These objects are collections of data points

In [43]:
customer_names = ["Ann", "Mike", "Chris"]

In [44]:
# when we return or print the variable, the output will be a list of names
customer_names

['Ann', 'Mike', 'Chris']

In [45]:
# let's check the type of the object
type(customer_names)

list

In [50]:
# lists are heterogeneous objects which can hold a variety of data types

varied_list = ["Ann", 34, None , "Chris"]

In [47]:
varied_list

['Ann', 34, None, 'Chris']

In [48]:
type(varied_list)

list

In [51]:
# to access individual elements in a list, we need to use something called 'slicing' 
# I want to see the name of the customer in the first position of the list
# The first position is always position 0 in Python

customer_names[0]

'Ann'

In [52]:
# The 'position' in an object is also called an 'index'
# The first customer in the list is at index 0, the second customer in the list is at index 1
# When we slice lists, we can ONLY use integers, if we try to slice with a float, we will get a type error

customer_names[1.0]

TypeError: list indices must be integers or slices, not float

In [53]:
# Let's say we want to find the customer's name who is in the middle of the list 
# let's find how many values we have in the list - we can use the len() function

len(customer_names)

3

In [54]:
# let's divide by two to find the value in the middle
len(customer_names) / 2

1.5

In [55]:
# if I simply put this value in the slicing mechanism, I will an error
customer_names[len(customer_names) / 2]

TypeError: list indices must be integers or slices, not float

In [57]:
# floor division will remove the remainder and the decimal, returning an integer
len(customer_names) // 2

1

In [58]:
# instead of dividing the length of the list by 2 directly, we can use floor division to drop the remainder
customer_names[len(customer_names) // 2]

'Mike'

In [59]:
# we can specify a range of values to return; the first position is inclusive, but the last position specified is exclusive
# in other words, below we are saying we want everything starting at position 0, up to but NOT including position 2 (which is the 3rd position in the list)
customer_names[0:2]

['Ann', 'Mike']

In [60]:
# we can also write the above without specifying the first position, if we are starting at the beginning of the list
customer_names[:2]

['Ann', 'Mike']

In [61]:
# we can start at a position and return everyting until the end as well
customer_names[1:]

['Mike', 'Chris']

In [75]:
# we can add a "step" parameter to skip a certain number of values; let's return every other value using a step parameter of 2
customer_names[0:3:2]

['Ann', 'Chris']

In [71]:
customer_names

['Ann', 'Mike', 'Chris']

In [76]:
# a simpler way to write the above if we are using the full list, is:
customer_names[::2]

['Ann', 'Chris']

In [77]:
# slicing from the end - negative values slice from right to left. -1 returns the last value of a list
customer_names[-1]

'Chris'

In [79]:
# to return a range starting from the right, we use negative values, but we write them left to right - for example, let's return the last 2 values
# we don't include the right parameter because that's defined as "up to but NOT including"
customer_names[-2:]

['Mike', 'Chris']

In [80]:
# return a range starting at the 3rd to last variable, up to but NOT including the last variable
customer_names[-3:-1]

['Ann', 'Mike']

In [81]:
# Let's find the data type of specific items in a list; we would isolate a specific value based on its index and use type() to check the data type

type(customer_names[0])

str

### List Functions

When we are using a global function from Python or from a library, the general syntax will be either: function(object) OR library.function(object)

When we are using a function which is part of a specific class (these are called class methods), the syntax will be: object.function(conditions)

In [84]:
# append() function allows us to add elements to the END of the list

customer_names.append('Sarah')

In [83]:
customer_names

['Ann', 'Mike', 'Chris', 'Sarah']

In [85]:
# let's review reference points again - I'm making a new referenc to my existing list
cs2 = customer_names

In [86]:
# if I edit the first list again...
customer_names.append('Matt')

In [87]:
# and then I print my new reference, you will see that both references changed / updated
cs2

['Ann', 'Mike', 'Chris', 'Sarah', 'Sarah', 'Matt']

In [88]:
customer_names

['Ann', 'Mike', 'Chris', 'Sarah', 'Sarah', 'Matt']

In [89]:
# if we want a copy of the list that we can edit separately, we need to use the copy() method available for lists
cs3 = customer_names.copy()

In [90]:
# now if we edit the original, we should see that cs3 remains unchanged
customer_names.append('Tom')

In [91]:
cs3

['Ann', 'Mike', 'Chris', 'Sarah', 'Sarah', 'Matt']

In [93]:
# len() is a global function which tells us the number of elements in any sequential object (lists, tuples, etc.)
len(customer_names)

7

In [94]:
# let's count the number of customers named 'Matt' in my list using the count() method
customer_names.count('Matt')

1

In [95]:
# let's count the number of customers named 'Sarah' in my list using the count() method
customer_names.count('Sarah')

2

In [96]:
# if we want to add multiple names to the list; the append() function will only add a single object at a time, while extend() adds multiples
# any time a condition inside a function (global or class method) has multiple items, we must store those items in a list
customer_names.extend(['Joe','Marie','Lisa','Mike'])

In [98]:
print(customer_names)

['Ann', 'Mike', 'Chris', 'Sarah', 'Sarah', 'Matt', 'Tom', 'Joe', 'Marie', 'Lisa', 'Mike']

In [100]:
# the remove() method will remove the first instance of a value
# there is no list method which can remove duplicates

customer_names.remove('Sarah')

In [102]:
print(customer_names)

['Ann', 'Mike', 'Chris', 'Sarah', 'Matt', 'Tom', 'Joe', 'Marie', 'Lisa', 'Mike']

In [104]:
# remove values based on index position, we can use pop()

customer_names.pop(0)

'Ann'

In [105]:
customer_names

['Mike', 'Chris', 'Sarah', 'Matt', 'Tom', 'Joe', 'Marie', 'Lisa', 'Mike']

In [106]:
# insert a value based on index position - let's insert the name "Melanie" in the first position of the list

customer_names.insert(0, 'Melanie')

In [108]:
print(customer_names)

['Melanie', 'Mike', 'Chris', 'Sarah', 'Matt', 'Tom', 'Joe', 'Marie', 'Lisa', 'Mike']

In [109]:
# Lists are MUTABLE objects. We can change them. 
# We can CHANGE the value in a given position using slicing - this is called item assignment

customer_names[1] = 'Bob'

In [111]:
print(customer_names)

['Melanie', 'Bob', 'Chris', 'Sarah', 'Matt', 'Tom', 'Joe', 'Marie', 'Lisa', 'Mike']

In [114]:
# use the index() method to find the index position of a particular value (will return the position of the 1st value it sees)
customer_names.index('Chris')

2

### Tuple operations

Tuples are a sequence object (also called an iterable) and they are defined using round brackets. Tuples are IMMUTABLE objects.

In [112]:
# create the tuple
customers = ('Matt','Mike','Sarah','Lisa')

In [113]:
customers

('Matt', 'Mike', 'Sarah', 'Lisa')

In [115]:
# tuples only have 2 methods: count() and index()
customers.count('Matt')

1

In [116]:
customers.index('Sarah')

2

In [117]:
# if I try to apply a list method to a tuple, I will get an attribute error
customers.append('Stephanie')

AttributeError: 'tuple' object has no attribute 'append'

In [119]:
# Tuples are immutable, so we also can't use item assignment
customers[0] = 'Sarah'

TypeError: 'tuple' object does not support item assignment