### Dictionaries and Sets

In [1]:
list1 = [1,2,3,4,5,6]
tuple1 = (1,2,3,4,5,6)
set1 = {1,2,3,4,5,6}

In [2]:
list2 = [2,2,5,5,6,7,8,8,9]

In [3]:
# we can use the set function to return a set of unique values from another object
set(list2)

{2, 5, 6, 7, 8, 9}

In [4]:
set_unique = set(list2)

In [5]:
print(list2)
print(set_unique)

[2, 2, 5, 5, 6, 7, 8, 8, 9]
{2, 5, 6, 7, 8, 9}

In [6]:
customers_shoes = ["Mike", "Ann", "Chris", "Bob", "Marie"]
customers_bags = ["Mike", "Ann", "Elvis", "Mariah", "John"]

In [7]:
shoes_set = set(customers_shoes)
bags_set = set(customers_bags)

In [8]:
# intersection() method tells us which values fall into both sets
shoes_set.intersection(bags_set)

{'Ann', 'Mike'}

In [9]:
bags_set.intersection(shoes_set)

{'Ann', 'Mike'}

In [11]:
# we want users who only bought one item - shoes
shoes_only = shoes_set.difference(bags_set)
bags_only = bags_set.difference(shoes_set)

print(shoes_only)
print(bags_only)

{'Marie', 'Chris', 'Bob'}
{'John', 'Elvis', 'Mariah'}

In [12]:
shoes_set.add("Johnny") # the add() function is similar in sets as the append() function in lists

In [14]:
sunglasses = {'Ann', 'Bob'}

In [15]:
shoes_set.issuperset(sunglasses) #the customers in the shoes set include the customers in the sunglasses set

True

In [16]:
sunglasses.issubset(shoes_set) # the customers in the sunglasses set are ALSO in the shoes set

True

## Now let's look at dictionaries

In [17]:
# in dictionaries, we must put data in PAIRS - which includes a KEY and a VALUE
# dictionaries are mapping objects

dict1 = {"House":"A place of residence"}
delivery_dict = {"ON":["Ottawa", "Toronto", "London", "Windsor"], "BC":["Vancouver", "Victoria"]}

In [18]:
# Nested dictionary, where we have a dictionary inside a dictionary
shopping_carts = {"Customer1":
                  {
    "OrderID":12356486,
    "OrderItems":["Shoes", "T-shirt", "Book"],
    "DeliveryDate":"2023-09-30",
    "ContactEmail":"cathy@gmail.com"
}, 
"Customer2":
    {"OrderID":154658,
    "OrderItems":["Shoes", "T-shirt", "Book", "Apples", "Pants", "Bag"],
    "DeliveryDate":{"2023-10-30","2023-11-5"},
    "ContactEmail":"john@gmail.com" }

}

In [21]:
delivery_dict.keys()

dict_keys(['ON', 'BC'])

In [22]:
delivery_dict["ON"]

['Ottawa', 'Toronto', 'London', 'Windsor']

In [23]:
delivery_dict["ON"][0]

'Ottawa'

In [24]:
delivery_dict.values()

dict_values([['Ottawa', 'Toronto', 'London', 'Windsor'], ['Vancouver', 'Victoria']])

In [25]:
delivery_dict.items()

dict_items([('ON', ['Ottawa', 'Toronto', 'London', 'Windsor']), ('BC', ['Vancouver', 'Victoria'])])

In [26]:
# if you want to add a new key-value pair, create a key that doesn't exist and set it equal to the values

delivery_dict["AB"] = ["Calgary", "Edmonton"]

In [27]:
delivery_dict

{'ON': ['Ottawa', 'Toronto', 'London', 'Windsor'],
 'BC': ['Vancouver', 'Victoria'],
 'AB': ['Calgary', 'Edmonton']}

In [29]:
shopping_carts["Customer1"]["OrderItems"]

['Shoes', 'T-shirt', 'Book']

In [34]:
# combine all ordered items from all customers in a single list

list_of_all_items = shopping_carts["Customer1"]["OrderItems"]
list_of_all_items.extend(shopping_carts["Customer2"]["OrderItems"])

In [36]:
print(set(list_of_all_items)) # create a set of unique ordered items

{'Shoes', 'T-shirt', 'Pants', 'Book', 'Bag', 'Apples'}

### Iteration

In [39]:
print(list_of_all_items)

['Shoes', 'T-shirt', 'Book', 'Shoes', 'T-shirt', 'Book', 'Apples', 'Pants', 'Bag', 'Shoes', 'T-shirt', 'Book', 'Apples', 'Pants', 'Bag']

In [40]:
print(list_of_all_items[0])
print(list_of_all_items[1])
print(list_of_all_items[2])
print(list_of_all_items[3])

Shoes
T-shirt
Book
Shoes

In [43]:
# for loop

for each_item in list_of_all_items:
    print(each_item)

Shoes
T-shirt
Book
Shoes
T-shirt
Book
Apples
Pants
Bag
Shoes
T-shirt
Book
Apples
Pants
Bag

In [44]:
for i in list_of_all_items:
    print(i)

Shoes
T-shirt
Book
Shoes
T-shirt
Book
Apples
Pants
Bag
Shoes
T-shirt
Book
Apples
Pants
Bag

In [45]:
set(list_of_all_items)

{'Apples', 'Bag', 'Book', 'Pants', 'Shoes', 'T-shirt'}

In [46]:
clothing = []
accessories = []
books = []
food = []

for i in list_of_all_items:
   if i == 'Pants' or i == 'T-shirt':
      clothing.append(i) 
   elif i == 'Shoes' or i == 'Bag':
      accessories.append(i)
   elif i == 'Apples':
      food.append(i)
   elif i == 'Book':
      books.append(i)
   else:
      continue
   
print(clothing)
print(accessories)
print(books)
print(food)

['T-shirt', 'T-shirt', 'Pants', 'T-shirt', 'Pants']
['Shoes', 'Shoes', 'Bag', 'Shoes', 'Bag']
['Book', 'Book', 'Book']
['Apples', 'Apples']

In [48]:
list1.append(5)

In [49]:
list1

[1, 2, 3, 4, 5, 6, 5, 5]

In [50]:
total_customer_spend = [100.52, 52.84, 60.89, 250.50, 89.00, 98.25, 315.13, 287.50, 25.45]

In [51]:
high_value = 0
med_value = 0
low_value = 0

for i in total_customer_spend:
    if i > 200:
        high_value += 1
    elif i > 100 and i <= 200:
        med_value += 1
    elif i <= 100:
        low_value += 1
    
print(high_value)
print(med_value)
print(low_value)

3
1
5

# How to define custom functions

In [52]:
total_customer_spend_jan = [50.25, 84.75, 250.50, 600.21, 512.21, 35.25, 350.45, 85.75, 154.21, 167.25, 188.90]

In [53]:
high_value = 0
med_value = 0
low_value = 0

for i in total_customer_spend_jan:
    if i > 200:
        high_value += 1
    elif i > 100 and i <= 200:
        med_value += 1
    elif i <= 100:
        low_value += 1
    
print(high_value)
print(med_value)
print(low_value)

4
3
4

In [77]:
def customer_value(a):
    high_value = 0
    high_value_avg_spend = []
    med_value = 0
    med_value_avg_spend = []
    low_value = 0
    low_value_avg_spend = []

    a.sort()
    first_quartile = a[:(len(a)//4)+1][-1]
    middle_quartiles = a[(len(a)//4)+1:(len(a)//4) * 4][-1]
    top_quartile = a[-1]
    
    for i in a:
        if i > middle_quartiles and i <= top_quartile:
            high_value += 1
            high_value_avg_spend.append(i)
        elif i > first_quartile and i <= middle_quartiles:
            med_value += 1
            med_value_avg_spend.append(i)
        elif i <= first_quartile:
            low_value += 1
            low_value_avg_spend.append(i)
        
    print("Count of high value users: ", high_value, " , Average Spend: ", sum(high_value_avg_spend)/len(high_value_avg_spend))
    print("Count of med value users: ", med_value, " , Average Spend: ", sum(med_value_avg_spend)/len(med_value_avg_spend))
    print("Count of low value users: ", low_value, " , Average Spend: ", sum(low_value_avg_spend)/len(low_value_avg_spend))

In [78]:
customer_value(total_customer_spend_jan)

Count of high value users:  3  , Average Spend:  487.6233333333334
Count of med value users:  5  , Average Spend:  169.322
Count of low value users:  3  , Average Spend:  56.75

In [79]:
customer_value(total_customer_spend)

Count of high value users:  1  , Average Spend:  315.13
Count of med value users:  5  , Average Spend:  165.154
Count of low value users:  3  , Average Spend:  46.39333333333334

In [57]:
# how to identify the values in each quartile of a list
total_customer_spend_jan.sort()
total_customer_spend_jan

[35.25,
 50.25,
 84.75,
 85.75,
 154.21,
 167.25,
 188.9,
 250.5,
 350.45,
 512.21,
 600.21]

In [62]:
# find quartile positions in a list
first_quartile = total_customer_spend_jan[:(len(total_customer_spend_jan)//4)+1]

In [64]:
total_customer_spend_jan[:(len(total_customer_spend_jan)//4)+1][-1]

84.75

In [72]:
(len(total_customer_spend_jan)//4)

2

In [74]:
total_customer_spend_jan[(len(total_customer_spend_jan)//4)+1:(len(total_customer_spend_jan)//4) * 4][-1]

250.5

In [69]:
print(total_customer_spend_jan)

[35.25, 50.25, 84.75, 85.75, 154.21, 167.25, 188.9, 250.5, 350.45, 512.21, 600.21]

In [55]:
customer_value(total_customer_spend_jan)

Count of high value users:  4
Count of med value users:  3
Count of low value users:  4